@charset "UTF-8";
$body_color: #F0F0F0;
$body_background: #101010;
// Main colors
$theme1: #1d1f1f;
$theme2: #94550a;
$theme3: #e18c0c;
$session_board: #89807B;
$shadow_color: #402040;


@mixin body_background{
    background: $body_background;
    color: $body_color;
    font-family:Neucha;
}



$panel_background: $theme1;
$button_background: saturate($theme1,75%);
$button_background2: darken($theme1,15%);
$highlight_background: saturate($theme1,75%);

$panel_complement: complement($theme2);
$panel_text: #202020;

$panel_shadow: lighten($panel_background, 50%);
$panel_plank_background: darken($panel_background, 5%);
$panel_shard_background: darken($panel_background, 15%);
$panel_smooth_background: grayscale($panel_background);
$panel_day_background: darken($panel_background,25%);
$panel_week_background: darken($panel_background, 5%);

// Panels levels
$panel1_background: lighten($panel_background,10%);
$panel2_background: lighten($panel_background,20%);
$panel3_background: lighten($panel_background,30%);
$panel_color: lighten($panel_background,75%);
$panel_border: lighten($panel_background,10%);
$panel1_color: lighten($panel1_background,75%);
$panel1_border: lighten($panel1_background,10%);
$panel2_color: lighten($panel2_background,75%);
$panel2_border: lighten($panel2_background,10%);
$panel3_color: lighten($panel3_background,75%);
$panel3_border: lighten($panel3_background,10%);
// Paperzone
$paper_background: #b2b0a7;
$paper_color: darken(complement($paper_background),50%);
$paper_border:darken($paper_background,10%);
// Highlight
$highlight_color: darken($highlight_background,75%);
$highlight_border: lighten($highlight_background,10%);
// Buttons
$button_color: lighten($button_background,75%);
$button_border: lighten($button_background,10%);
$button_color2: lighten($button_background2,75%);
$button_border2: lighten($button_background2,10%);

$color_current: violet;
$color_current_hover: mediumorchid;
$color_frame: lightgrey;
$color_frame_hover: cyan;
$panel_day_background: #c4c4b6;
$panel_day_off_background: saturate(complement($panel_day_background),50%);
$panel_day_current_background: lightcoral;
$color_off_hover: yellow;

$hour_pixel: 42;

$env_text: black;

$roster_font_height: 10pt;

$plate_color: lighten($panel_color,10%);

$bkg_filter0:#80808070;
$bkg_filter1:#80808020;
$bkg_filter2:#10802070;

$bkg0:#103020;
$bkg1:#103020;
$bkg2:#101030;




span.past{
  color:darkslateblue;
}

span.future{
  color:darkmagenta;
}


.front_message{
  display:block;
  font-size:1.5em;
  color: black;
  width:25%;
  margin:0;
  margin-left:auto;
  margin-right:auto;
}


$active_box: #1050107F;
$standard_box: #1030107F;
$sub_box: #1040107F;


@mixin btn_look{
    background: #C0C0C0;
    border-radius:3px;
    border:1px solid #808080;
    color: #101010;
    font-family: Neucha;
    width:90ex;
    display:inline-block;
}



.btn{
    @include btn_look
}


@mixin dragonade_panel{
    margin: 0;
    padding:5px;
    border:2px solid #C0C0C070;
    border-radius:5px;
    background: $standard_box;
    box-shadow: 0 0 3px $shadow_color;
    color:white;
    font-family: Neucha;
}

.coded{
    font-family: Wellfleet;
    font-size:8px;
}