body {
  margin: 0;
  padding: 0;


  & .universe{
  }

  & .world {
    background: $palette1;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
    position: absolute;
    color: $body_color;
    font-family: Neucha;

    width: 99vw;
    height: 99vh;
    top: 0;
    gap: 0;
    padding: 3px;
    border: 3px solid transparent;
    border-radius:10px;
    & .spare_right{
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:auto;
      width:30vw;
      border: 1px solid transparent;
      background:$palette1;
      display:flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
      align-content:flex-start;
      align-items:stretch;
      padding:5px;
      z-index:50;
    }
    & .corpus {
      position: fixed;
      width:auto;
      height:auto;
      top:0;
      right:30vw;
      bottom:0;
      left:0;
      padding:15px;
      border-radius: 15px;
      background:$palette1;
      color:$palette4;
      border-radius:10px;
      border:1px solid transparent;
      z-index:10;
    }
  }
}

#svg_area{
    display:fixed;
    background:$palette4;
    left:1vw;
    right:1vw;
    top:1vw;
    bottom:auto;
    width:auto;
    height:98vh;
    border-radius: 10px;
    z-index:40;
    & svg{
        border:3px solid #303050;
    }
}



#d3area{
    order:8;
    flex:1 1 auto;
    background:transparent;
    width:auto;
}

.title{
    @include dragonade_panel;
    order:1;
    flex: 0 0 auto;
    text-align:center;
}

.middle{
    @include dragonade_panel;
    order:2;
    flex: 1 1 auto;

    & .middleblock{
        @include dragonade_panel;
        margin:auto;
        display:block;
        text-align:center;
        & .list_block{
            height: 15em;
            border:1px solid #808080;
            border-radius:5px;
            margin-bottom:1em;
            padding:5px;
        }
    }


}

#target_ed, #ed{
    display:block;
    width:50ex;
    height:6em;
    margin:auto;
    background:#00000070;
    border:1px groove #F0F0F0;
    padding:5px;
    border-radius:5px;
    color:white;
}

#target_ed{
    border-color:#101010;
    height:1.2em;
}

.btn{
    display:block;
    margin:auto;
    width:20ex;
    height:1.2em;
    padding:5px;
    border-radius:5px;
}

.menu{
    @include dragonade_panel;
    order:5;
    flex: 0 0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-end;
    gap:0;

    & .menu_entry{
        border-radius:2px;
        border: 2px solid $palette1;
        padding:0px;
        flex: 1 1 1.4cm;
        background:#C0C0C020;
        text-align:center;
        & img{
            height:1.4cm;
            width:1.4cm;
        }
        &.off{
            background:$palette1;
        }
        &:hover{
            background:$palette5;
            cursor:pointer;
        }
    }
}


.list{
    @include dragonade_panel;
    order:4;
    flex: 0 0 10vh;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-content: space-around;
    gap:1px;
    & .mini, & .minisheet {
        flex: 1 1 25ch;
        font-size:8pt;
        padding:2px;
        font-family:Wellfleet;
        height:4.0em;
        & .options{
            color:$palette3;
        }
        border:2px solid $palette4;
        border-radius: 5px;
        order:8;
        &.autochton{
            border-color:#109060;
        }
        &.traveller{
            border-color:#106090;
        }

    }
    & .paginator{
        font-family: Wellfleet;
        font-size:8pt;
        flex:1 1 50ch;
        text-align:center;
        background:$palette4;
        padding:2px;
        order:2;
        height:1.5em;
        border:2px solid $palette2;
        border-radius: 3px;
        color:$palette0;
    }

}


.cardback{
    &.selected_for_reveal{
        &.verso{
            fill:#A02020;
        }
        &.recto{
            stroke:#A02020;
        }
    }
}



.container{
    border:1px solid transparent;
    border-radius:5px;
    display:flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: center;
    gap: 5px;
    margin:0;
    height:100%;
    border: 1px solid transparent;

}


.minicard {
    background:white;
    border:1px solid #c0c0c0;
    border-radius:5px;
    width:40px;
    height: autopx;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    & img{
        display:inline-block;
        height:30px;
        width:30px;
    }
    &.verso{
        background:#302020;
        border:3px solid white;
    }
    box-shadow:0 0 5px pink;
}


      .stacked {
        order: 1;
        flex: 8 1 auto;
        text-align:center;
        border:2px solid green;
        margin-top:0;
        margin-bottom:0;
        height:auto;
        background:green;
      }

.heap{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-content:stretch;

    gap:5px;
    flex: 1 1 10vw;

}

div.showhide.eye{
    position:fixed;
    right:0;
    top:0;
    z-index:50000;
    background: $bkg_filter1;
    //border:1px solid white;
    border-radius:15px;
    padding:15px;
    color:white;


}


.svg {
    border:3px solid blue;
}

.vis {
    border:3px solid green;
}

.list_block{
    text-align:left;
    border:2px solid #101010;
    height:32em;
    width:auto;
    margin-top:0;
    margin-bottom:0;
    font-family: Wellfleet;
    font-size:$roster_font_height;
    overflow-y: scroll;
    display:flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: stretch;
    & .spell_entry{
        order:2;
        display:flex;
        flex-flow: row wrap;
        font-family: Neucha;
        font-size:$roster_font_height;
        justify-items: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        width:96%;
        border:2px solid #202020;
        & .name{
            display: inline-block;
            order:1;
            background:#100707;
            flex: 1 1 auto;
        }
        & .rid{
            display: inline-block;
            order:2;
            background:#100707;
            flex: 1 0 20ex;
            text-align:right;
        }
    }
}