body {
  margin: 0;
  padding: 0;


  & .universe{
    width: 99vw;
    height: 99vh;
    top: 0;
    gap: 0;
    padding: 3px;
    border: 3px solid transparent;
    border-radius:10px;

  & .spare_top{
      position:fixed;
      top:0;
      right:0;
      left:0;
      bottom:auto;
      height:3vh;
      z-index:400;
  }

  & .world {
    background: $palette1;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
    position: fixed;
    color: $body_color;
    font-family: Neucha;

    width: auto;
    height: auto;
    top: 4vh;
    gap: 0;
    padding: 3px;
    border: 3px solid transparent;
    border-radius:10px;
    & .spare_right{
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:auto;
      width:$right_panel_width;
      height:auto;
      border: 1px solid transparent;
      background:$palette1;
      display:flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
      align-content:flex-start;
      align-items:stretch;
      padding:5px;
      z-index:50;
    }
    & .corpus {
//       position: fixed;
      width:auto;
      height:auto;
      top:0;
      right:0;
      bottom:0;
      left:0;
      padding:15px;
      border-radius: 15px;
      background:$palette1;
      color:$palette4;
      border-radius:10px;
      border:1px solid transparent;
      z-index:10;

      & #svg_area{
            position:fixed;
            background:$palette4;
            //background:cyan;
            left:1vw;
            right:1vw;
            top:1vh;
            bottom:1vh;
            width:auto;
            height:auto;
            border-radius: 10px;
            z-index:40;

        }



    }
  }
  }
}




#d3area{
    order:8;
    flex:1 1 auto;
    background:transparent;
    width:auto;
}

.title{
    @include dragonade_panel;
    order:1;
    flex: 0 0 3fr;
    text-align:center;
}

.middle{
    @include dragonade_panel;
    order:2;
    flex: 1 8 auto;

    & .middleblock{
       @include dragonade_panel;
        margin:1ex;
        width:auto;
        display:block;
        text-align:center;
        & .list_block{
            height: 15em;
            border:1px solid #808080;
            border-radius:5px;
            margin-bottom:1em;
            padding:5px;
        }

        &.limit_height{
            max-height:20em;
            overflow-y:scroll;
            margin-bottom:1em;
        }
    }
}

.bottom{
    @include dragonade_panel;
    order:3;
    flex: 0 5 3fr;
}

#target_ed, #ed{
    //@include dragonade_panel;
    display:block;
    width:auto;
    height:6em;
    margin:1ex;
    background:#00000070;
    border:1px groove #F0F0F0;
    padding:5px;
    border-radius:5px;
    color:white;
}


//
// .btn{
//     display:block;
//     margin:auto;
//     width:20ex;
//     height:1.2em;
//     padding:5px;
//     border-radius:5px;
// }

.menu{
    @include dragonade_panel;
    order:5;
    flex: 0 0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-end;
    gap:0;

    & .menu_entry{
        border-radius:2px;
        border: 2px solid $palette1;
        padding:0px;
        flex: 1 1 1.4cm;
        background:#C0C0C020;
        text-align:center;
        & img{
            height:1.4cm;
            width:1.4cm;
        }
        &.off{
            background:$palette1;
        }
        &:hover{
            background:$palette5;
            cursor:pointer;
        }
    }
}


.list{
    @include dragonade_panel;
    order:4;
    flex: 0 0 16vh;
    display:flex;
    flex-flow:column nowrap;

//     overflow:scroll;
    justify-content: flex-end;
    align-content: space-around;
    gap:1px;

    & legend{
        color:white;
        font-variant: small-caps;
    }


    & .list_header{
        order:1;
        text-align:center;
        & .paginator{
            border:1pt solid #303030;
            border-radius:3pt;
            background:black;
            color:silver;
            display:inline-block;
            width:31%;
            cursor:pointer;
            &.current{
                background:transparent;
                cursor:none;
            }

        }
    }
    & .list_footer{
        order:10;
        text-align:center;
        & .paginator{
            border:1pt solid #303030;
            border-radius:3pt;
            background:black;
            color:silver;
            display:inline-block;
            width:31%;

            cursor:pointer;
            &.current{
                background:transparent;
                cursor:none;
            }

        }
    }




    & .mini {
        flex: 1 1 25ch;
        padding:2px;
        font-family:Wellfleet;
        height:4.0em;
        & .options{
            color:$palette3;
        }
        border:2px solid $palette4;
        border-radius: 5px;
        order:8;
        &.autochton{
            border-color:#109060;
        }
        &.traveller{
            border-color:#106090;
        }

    }

    & .minisheet {
        flex: 1 1 20ch;
        font-size:14pt;
        padding:2pt;
        font-family:"Grenze";
        background:black;
        text-align:center;
        height:5.0em;
        & .options{
            color:$palette3;
            font-size:12pt;
        }
        border:2px solid $palette4;
        border-radius: 5px;
        order:8;
        &.autochton{
            border-color:#109060;
        }
        &.traveller{
            border-color:#106090;
        }

    }
    & .paginator{
        font-family: Wellfleet;
        font-size:8pt;
        flex:1 1 50ch;
        text-align:center;
        background:$palette4;
        padding:2px;
        order:2;
        height:1.5em;
        border:2px solid $palette2;
        border-radius: 3px;
        color:$palette0;
    }

}


.cardback{
    &.selected_for_reveal{
        &.verso{
            fill:#A02020;
        }
        &.recto{
            stroke:#A02020;
        }
    }
}



.container{
    border:1px solid transparent;
    border-radius:5px;
    display:flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: center;
    gap: 5px;
    margin:0;
    height:100%;
    border: 1px solid transparent;

}


.minicard {
    background:white;
    border:1px solid #c0c0c0;
    border-radius:5px;
    width:40px;
    height: autopx;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    & img{
        display:inline-block;
        height:30px;
        width:30px;
    }
    &.verso{
        background:#302020;
        border:3px solid white;
    }
    box-shadow:0 0 5px pink;
}


      .stacked {
        order: 1;
        flex: 8 1 auto;
        text-align:center;
        border:2px solid green;
        margin-top:0;
        margin-bottom:0;
        height:auto;
        background:green;
      }

.heap{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-content:stretch;

    gap:5px;
    flex: 1 1 10vw;

}

// div.showhide.eye{
//     position:fixed;
//     right:0;
//     top:0;
//     z-index:50000;
//     background: $bkg_filter1;
//     //border:1px solid white;
//     border-radius:15px;
//     padding:15px;
//     color:white;
//
//
// }


.svg {
    border:3px solid blue;
}

.vis {
    border:3px solid green;
}

.list_body{
    @include dragonade_panel;
    height:12em;
    width:auto;
    margin-top:0;
    margin-bottom:0;
    display:flex;
    flex-flow: row wrap;
    justify-items: flex-start;
    align-content: space-between;
    align-items: space-between;
    gap:1ex;
    & .list_entry, & .ref_entry{
        order:2;
        width:24ex;
        display:flex;
        flex-flow: row wrap;
        justify-items: flex-start;
        align-content: stretch;
        align-items: space-around;
        border:2px solid #808080;
        border-radius:5px;
        flex: 1 1 22ex;
        & .ref{
            text-align:center;
            order:1;
            background:#301010;
            flex: 1 1 2ex;
        }
        & .base{
            order:2;
            background:#100707;
            flex: 1 1 20ex;
        }
    }
    & .list_entry{
        &.traveller{
            & .ref{
                background:#304040;
            }
            & .base{
                background:#104040;
            }
        }
        &.autochton{
            & .ref{
                background:#403040;
            }
            & .base{
                background:#401040;
            }
        }
        &.creature{
            & .ref{
                background:#404030;
            }
            & .base{
                background:#404010;
            }
        }
    }
}


    #overlay{
        position:fixed;
        top:0;
        left:0;
        z-index:500;
        width:100vw;
        height:100vh;
        background:#101010DF;
        font-family:Roboto;
        & .detail{
            margin-top:5em;
            & .base{
                font-height:7px;
                border:1px solid white;
                border-radius:5pt;
                padding:5pt;
                margin:auto;
                width:70ex;
                height:auto;
                display:flex;
                flex-flow:column nowrap;
                justify-content:flex-start;
                align-items:stretch;
                align-content:stretch;
                gap:1px;
                background:#303030;
                & .box{
                    flex: 1 1 1em;
                    display:flex;
                    flex-flow:row wrap;
                    justify-content:flex-start;
                    align-content:flex-start;
                    align-items:stretch;
                    &.centered{
                        justify-content:space-between;
                        background:transparent;
                        }
                    gap:3px;
                    color:white;
                    padding:5px;
                    & .label{
                        background:#301030;
                        flex: 1 1 15ex;
                        padding:5pt;
                        border-radius:5pt;
                        &.first{
                            order: 1;
                            flex: 1 1 8ex;
                            }
                        &.second{
                            order: 3;
                            flex: 1 1 8ex;
                            }
                    }
                    & .info{
                        flex: 1 1 auto;
                        background:#906090;
                        height:auto;
                        color:white;
                        padding:5pt;
                        border-radius:5pt;
                        &.modifiable{
                            flex: 1 1 auto;
                            background:#909090;
                            color:black;
                        }
                        &.centered{
                            text-align:center;
                        }
                        &.first{
                            order: 2;
                            flex: 1 1 auto;
                            }
                        &.second{
                            order: 4;
                            flex: 1 1 auto;
                            }
                    }
                }
            }
        }
    }

.option_block{
    & legend{
        color:#F0F0F0;
        font-variant:small-caps;
    }
    overflow-y: scroll;
    height:10em;
    display:flex;
    flex-flow:column nowrap;
    justify-items:flex-start;
    align-content:space-between;
    align-items:stretch;
    gap:1ex;
    & .ref_entry{
         border:1pt solid #404040;
         border-radius: 1pt;

        flex:1 1 auto;
        display:flex;
        flex-flow:row wrap;
        justify-items:flex-start;
        align-content:flex-start;
        align-items:flex-start;
        & .rid{
            order:1;
            flex:1 1 15ex;
            background:#202030;

            border:2pt solid silver;
            border-radius: 3pt;
            padding:2pt;
        }
        & .name{
            order:2;
            text-align:left;
            flex:1 1 30ex;
            border:2pt solid transparent;
            border-radius: 3pt;
            padding:2pt;
            background:#202060;
        }

    }
}

.team{
    display:flex;
    flex-flow: row wrap;
    gap:2pt;

    & .mate{
        border:2pt solid silver;
        border-radius:3pt;
        width:20ex;
        height:auto;
        background: #505050;
        color:white;
        padding:2pt;


        &.red{
            border-color: #F02020;
            background: #905050;
        }
        &.green{
            border-color: #20F020;
            background: #509050;
        }
        &.blue{
            border-color: #2020F0;
            background: #505090;
        }
    }
}


.battle{
    background:#3030307f;
    color::#F0F0F0;

    border-radius:16pt;
    //width:250ex;
    width:70vw;
    height:90vh;
    padding:16pt;
    overflow-y: auto;

    display:flex;
    font-family:Roboto;
    font-size:0.8em;
    flex-flow:column nowrap;
    justify-content:flex-start;
    align-content:flex-start;
    margin:auto;
    margin-left:0.5vw;
    gap:10pt;
    & .combat_info{
        }
    & .status_line{
        order:1;
        flex:0 1 auto;
        display:flex;
        flex-flow:row nowrap;
        gap:10pt;

        padding:10pt;
        background:#9090907f;
        border-radius:16pt;
        justify-content:center;
        align-content:flex-start;
        align-items:stretch;
        & .battle_roster{
            font-family:Roboto;
            flex:0 1 auto;
            width:40ex;
            padding:1ex;
            border:2pt solid white;
            border-radius:4pt;
            & .text_block{
                flex: 1 0 16ex;
                text-align:center;
                padding:3pt;
            }
            & .icon_block{
                font-family:Roboto Mono;
                border:2pt solid transparent;
                background:#303030;
                border-radius:3pt;
                display:flex;
                flex-flow:row wrap;
                justify-content:center;
                align-content:center;
                align-items:stretch;
                flex: 1 0 16ex;

                & .icon{
                    order:1;
                    flex: 1 0 auto;
                    width:4ex;
                    font-size:16pt;
                    text-align:center;
                }
                & .value{
                    order:2;
                    flex: 1 1 auto;
                    width:8ex;
                    font-size:12pt;
                    background:#6060607f;
                    text-align:center;
                    vertical-align:middle;
                }
            }
        }
    }
    & .rounds{
        display:flex;
        flex-flow: column nowrap;
        justify-content:flex-start;
//         align-content:flex-start;
//         align-items:space-between;
        flex:8 1 auto;
        height:auto;
        order:2;
        gap:10pt;
        padding:10pt;
        background:#4040407f;
        border-radius:16pt;
//         overflow-y:display;
        & .battle_round{
            font-family:Roboto;
            padding:4pt;
            border-radius:6pt;
//             flex:1 1 auto;
            width:auto;
//             max-height:36em;
            padding:6pt;
            border:2pt solid #202020;
            background:#2020207f;
            border-radius:6pt;
            display: flex;
            flex-flow: row nowrap;
            justify-content:flex-start;


            gap:4pt;
            & .battle_init{
                & legend{
                    background:#303030af;
                    border:1pt solid silver;
                    border-radius:6pt;
                    padding:4pt 2ex;
                    color:white;
                }
                flex: 1 1 20ex;
                padding:1ex;
                border:2pt solid #808080;
                border-radius:12pt;
                display:flex;
                flex-flow:column wrap;
                justify-content:flex-start;
                align-content:stretch;
                align-items:space-between;
                gap:5pt;
                & .info_block{
                   text-align:center;
                   border-radius:8pt;
                   padding:8pt;
                   background:#505050Af;
//                    flex: 1 1 auto;
//                   min-width:12ex;
                   & .big{
//                        font-size:12pt;
                       text-shadow:1pt 1pt #8080F0;
                   }
                   & .huge{
                       font-size:36pt;
                       text-shadow:1pt 1pt #f02020;
                   }
                }
            }
        }
    }
}




.grav{
    &:before{
        content:"Gravité ";
    }
    background:#3030307f;
    padding:3pt;
    border-radius:3pt;
    & .mod{color:$grav_min;}
    & .mod{color:$grav_mod;}
    & .maj{color:$grav_maj;}
    & .gra{color:$grav_gra;}
    & .ser{color:$grav_ser;}
}

.teamcol{
    padding:3pt;
    border-radius:3pt;
}

.avoidance{
    display:inline-block;
    border-radius:3pt;
    border:1pt solid white;
    padding:3pt;
    color:white;
    &.A{background:#606090;}
    &.B{background:#609060;}
    &.E{background:#906060;}
    &.R{background:#909090;}
    margin:3pt;

}