body {
  margin: 0;
  padding: 0;
  @include body_background;

  & .universe{
  }

  & .world {

    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
    position: absolute;
    color: $body_color;
    font-family: Neucha;

    width: 99vw;
    height: 99vh;

    top: 0;
//    display: flex;
//    flex-flow: row wrap;
//    justify-content: space-between;
//    align-items: stretch; // Laid along cross Axis
//    align-content: stretch; // Has only meaning when wrap or wrap-reverse (Cross Axis)

    gap: 2px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius:10px;

    & .spare_right{
      position:fixed;
      top:0;
      right:0;
      bottom:0;
      left:auto;
      width:30vw;

      border: 1px solid black;
      background:$bkg_filter2;
      display:flex;
      flex-flow:column nowrap;
      justify-content: flex-start;
      align-content:flex-start;
      align-items:stretch;
      padding:5px;
      z-index:50;
    }


    & .corpus {
      position: fixed;
      width:auto;
      height:auto;
      top:0;
      right:30vw;
      bottom:0;
      left:0;
      padding:15px;
      border-radius: 15px;
      background:$bkg_filter1;
      border-radius:10px;
      border:1px solid transparent;
      z-index:10;
    }


  }
}

#svg_area{
    display:fixed;
    background:#F0F0F070;
    left:1vw;
    right:1vw;
    top:1vw;
    bottom:auto;
    width:auto;
    height:98vh;
    border-radius: 10px;
    z-index:40;
    & svg{
        border:3px solid #303050;
    }
}



#d3area{
    order:8;
    flex:1 1 auto;
    background:transparent;
    width:auto;
}

.title{
    @include dragonade_panel;
    order:1;
    flex: 0 0 auto;
    text-align:center;
}

.middle{
    @include dragonade_panel;
    order:2;
    flex: 1 1 auto;

    & .middleblock{
        @include dragonade_panel;
        margin:auto;
        display:block;
        text-align:center;
        & .list_block{
            height: 15em;
            border:1px solid #808080;
            border-radius:5px;
            margin-bottom:1em;
            padding:5px;
        }
    }


}

#target_ed, #ed{
    display:block;
    width:50ex;
    height:6em;
    margin:auto;
    background:#00000070;
    border:1px groove #F0F0F0;
    padding:5px;
    border-radius:5px;
    color:white;
}

#target_ed{
    border-color:#101010;
    height:1.2em;
}

.btn{
    display:block;
    margin:auto;
    width:20ex;
    height:1.2em;
    padding:5px;
    border-radius:5px;
}

.menu{
    @include dragonade_panel;
    order:5;
    flex: 0 0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-end;
    gap:0;

    & .menu_entry{
        border-radius:2px;
        border: 2px solid #808080;
        padding:0px;
        flex: 0 0 auto;
        background:#C0C0C020;
        text-align:center;
        & img{
            height:2.0cm;
            width:1.4cm;
        }
        &.off{
            background:#30303070;
        }
        &:hover{
            background:#F0F0F070;
            cursor:pointer;
        }
    }
}


.list{
    @include dragonade_panel;
    order:4;
    flex: 0 0 10vh;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-start;
    align-content: space-around;
    gap:1px;
    & .mini, & .minisheet {
        flex: 1 1 25ex;
        font-size:8pt;
        padding:2px;
        font-family:Wellfleet;
        height:4.0em;
        & .options{
            color:silver;
        }
        border:2px solid #101010;
        border-radius: 3px;
    }
    & .paginator{
        font-family: Wellfleet;
        font-size:8pt;
        flex:1 1 50ex;
        text-align:center;
        background:$active_box;
        padding:2px;
        order:5;
        height:1.5em;
        border:2px solid #101010;
        border-radius: 3px;
    }

}


.cardback{
    &.selected_for_reveal{
        &.verso{
            fill:#A02020;
        }
        &.recto{
            stroke:#A02020;
        }
    }
}

table.skillstable{

    & td{
        border:1px solid transparent;
        vertical-align:top;
        background:$bkg_filter2;
    }
    border:1px solid #909090;
    cells-padding: 2px;
    background:transparent;
    border-radius: 5px;
    &.autochton{
     &  td{
        background: #3030F030;
     }
    }
    &.traveller{
     &  td{
        background: #30F03030;
     }
    }
}


.container{
    border:1px solid transparent;
    border-radius:5px;
    display:flex;
    flex-flow: column wrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: center;
    gap: 5px;
    margin:0;
    height:100%;
    border: 1px solid transparent;

}

/*
.paginator,.minisheet{
        display:block;
        font-family:Fredoka;
        font-size:$roster_font_height;
        border:1px solid #707070;
        border-radius:5px;
        box-shadow: 0 0 16px #202020;
        background:$standard_box;
        padding:5px;
        flex: 0 1 auto;
        order:3;
        &.mark{
            background:$active_box;
            box-shadow: 0 0 16px #604060;
        }
    }

.paginator{
    //align-self: center;
    background:#301010;
    &.previous{
        order:1;
    }
    &.next{
        order:2;
    }
}
*/



.minicard {
    background:white;
    border:1px solid #c0c0c0;
    border-radius:5px;
    width:40px;
    height: autopx;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    vertical-align:middle;
    display:inline-block;
    & img{
        display:inline-block;
        height:30px;
        width:30px;
    }
    &.verso{
        background:#302020;
        border:3px solid white;
    }
    box-shadow:0 0 5px pink;
}


      .stacked {
        order: 1;
        flex: 8 1 auto;
        text-align:center;
        border:2px solid green;
        margin-top:0;
        margin-bottom:0;
        height:auto;
        background:green;
      }

.heap{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-start;
    align-content:stretch;

    gap:5px;
    flex: 1 1 10vw;

}

div.showhide.eye{
    position:fixed;
    right:0;
    top:0;
    z-index:50000;
    background: $bkg_filter1;
    //border:1px solid white;
    border-radius:15px;
    padding:15px;
    color:white;


}


.svg {
    border:3px solid blue;
}

.vis {
    border:3px solid green;
}

.list_block{
    text-align:left;
    border:2px solid #101010;
    height:32em;
    width:auto;
    margin-top:0;
    margin-bottom:0;
    font-family: Wellfleet;
    font-size:10pt;
    overflow-y: scroll;
    display:flex;
    flex-flow: column nowrap;
    justify-items: flex-start;
    align-content: flex-start;
    align-items: stretch;
    & .title_entry{
        font-size:1.5em;
        font-family: Griffy;
        order:1;
    }
    & .spell_entry{
        order:2;
        display:flex;
        flex-flow: row wrap;
        justify-items: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        width:96%;
        border:2px solid #202020;
        & .name{
            display: inline-block;
            order:1;
            background:#100707;
            flex: 1 1 auto;
        }
        & .rid{
            display: inline-block;
            order:2;
            background:#100707;
            flex: 1 0 20ex;
            text-align:right;
        }
    }
}