


.item{
    color: #101010;
    background: #F0F0F0;
    border:1px solid black;
    border-radius: 5px;
    flex: 1 1 auto;
    &.hidden{

    }
}


.mini.hautrevant{
    border:1px solid black;
    border-radius:5px;
    padding:5px;
    background:$palette1;
    cursor: pointer;
    &:hover{
        background:$palette3;
    }
    &.mark{
        background:$palette2;
    }
}



