
.roster{
    background:transparent;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
    gap: 0px;



    table.skillstable{

        & td{
            border:0px solid transparent;
            vertical-align:middle;
            background:transparent;
        }
        border:0px solid $palette3;
        cells-padding: 0;
        cells-spacing: 0;
        background:transparent;
        border-radius: 10px;
        height:auto;
        width:auto;
        margin: 0;
        &.autochton{

            background: #1030207F;
            & .header{
                color:white;
                background:$palette2;
            }
            & .sheet{
                background:#608060;
            }

        }
        &.traveller{

            background: #1020307F;
            & .header{
                color:white;
                background:$palette2;
            }
            & .sheet{
                background:#606080;
            }
        }
    }


    & .sheet, & .spell {
        display: grid;
        flex: 0 0 auto;
        font-family:Neucha;
        font-size:$roster_font_height;
        border:1px solid $palette2;
        border-radius:5px;
        margin:10px;
        padding:5px;
        gap: 0px;
        box-shadow: 0 0 16px $palette0;
        //background:#606060;

        & .box {
            border-radius: 1px;
            padding: 3px;
            border:1px solid $palette1;
            &.label{
                background-color: $palette2;
                color:white;
            }
            &.info{
                background: darken($palette1,50%);
                color: white;
                &.editable{
                    cursor:pointer;
                    & .btn_edit{
                        &.minus:hover{
                            color:lime;
                        }
                        &.plus:hover{
                            color:orangered;
                        }
                        &.value{
                            display:inline-block;
                            width:4ex;
                            text-align:center;
                            &:hover{
                                background:$palette1;
                            }
                        }
                    }
               }
            }
        }

        &.skills{
            grid-template-columns: 150px 75px;
            grid-template-rows: repeat(6,1.5em);
            order:2;
            & .label {
                grid-column: 1 / span 1;

            }
            & .info {
                grid-column: 2 / span 1;
            }
            & .header {
                grid-column: 1 / span 2;
            }
            &.martiales{
                order:5;
            }
        }

        &.magic, &.weapons, &.gear{
            grid-template-columns: 75px 150px;
            order:2;
            & .label {
                grid-column: 1 / span 1;

            }
            & .info {
                grid-column: 2 / span 1;
            }
            & .header {
                grid-column: 1 / span 2;
            }
            overflow-y:auto;
            max-height:200px;
        }


        &.base, &.magic, &.weapons {
            grid-template-columns: 60px 30px 30px 60px 80px 80px 80px 80px;
            grid-template-rows: repeat(10,1.5em);
            order:1;
            flex: 0 1 auto;
            & .header {
                grid-column: 1 / span 8;
            }

            & .label {
                grid-column: 1 / span 4;
                &.sub{
                    grid-row: span 2;
                    align-self:stretch;
                    vertical-align:middle;
                }
                &.nw{
                    grid-column: 1 / span 1;
                }
                &.ne{
                    grid-column: 3 / span 1;
                }
                &.sw{
                    grid-column: 1 / span 1;
                }
                &.se{
                    grid-column: 3 / span 1;
                }

                &.full{
                    grid-column: 1 / span 8;

                    &.large{
                        font-size:2em;
                        grid-row: span 2;
                    }

                }

                &.left{
                    grid-column: 1 / span 4;
                    grid-row: 1 / span 2;
                }
                &.mid{
                    grid-column: 5  / span 2;
                    grid-row: 1 / span 2;
                }
                &.right{
                    grid-column: 7  / span 2;
                    grid-row: 1 / span 2;
                }
            }
            & .info {
                grid-column: 5 / span 4 ;
                &.nw{
                    grid-column: 2 / span 1;
                }
                &.ne{
                    grid-column: 4 / span 1;
                }
                &.sw{
                    grid-column: 2 / span 1;
                }
                &.se{
                    grid-column: 4 / span 1;
                }

            }
            & .large{
                grid-row: span 4;
            }

            & .subset{
                border:1px solid $palette2;
                gap: 1px;
                padding:2px;
                grid-column: 5 / span 4;
                grid-row: span 2;
                display: grid;
                grid-template-columns: subgrid;
                grid-template-rows: subgrid;
            }

           & .triset{
                border:1px solid $palette2;
                gap: 1px;
                padding:2px;
                grid-column: 1 / span 8;
                grid-row: span 2;
                display: grid;

                grid-template-columns: subgrid;
                grid-template-rows: subgrid;
           }
       }
    }


    & .box.info.editable{
        & .btn_edit{
            &.value{
                border:2px solid $palette4;
                border-radius:3px;
                cursor:crosshair;
           }
        }
    }

}



