@import 'basics';
@import 'roster';

body {
  margin: 0;
  padding: 0;
  @include body_background;

  & .universe{
  }

  & .world {

    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
    position: absolute;
    color: $body_color;
    font-family: Neucha;

    width: 100%;
    height: 100%;

    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    gap: 1px;
    padding: 0;

    & .spare_left{
      order: 1;
      flex: 1 0 20%;
      background:#10203070;
    }

    & .spare_right{

      order: 3;
      flex: 0 0 20%;
      background:#10203070;

      display:flex;
      flex-flow:row wrap;
      justify-content: space-around;
      align-content:flex-end;
      align-items:space-between;
      gap:3px;
      padding:3px;

    }

    & .corpus {
      width: auto;
      flex: 8 1 auto;
      order: 2;
      overflow:auto;
      background:#FFCC2230;

      & .stacked {
        order: 1;
        flex: 8 1 auto;
        text-align:center;


      }
    }
  }
}





#d3area{
    background:transparent;
    width:100vw;
    height:100vh;
    z-index: 10000;
}