span.past {
  color: darkslateblue; }

span.future {
  color: darkmagenta; }

.front_message {
  display: block;
  font-size: 1.5em;
  color: black;
  width: 25%;
  margin: 0;
  margin-left: auto;
  margin-right: auto; }

.btn {
  background: #C0C0C0;
  border-radius: 3px;
  border: 1px solid #808080;
  color: #101010;
  font-family: Neucha;
  width: 90ex;
  display: inline-block; }

.hidden {
  display: none !important; }

.shownflex {
  display: flex !important; }

.shown {
  display: block !important; }

.roster {
  background: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: baseline;
  gap: 5px; }
  .roster .sheet, .roster .spell {
    display: grid;
    flex: 0 0 auto;
    font-family: Neucha;
    font-size: 10pt;
    border: 1px solid #707070;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    gap: 2px;
    box-shadow: 0 0 16px #101010;
    background: #101030; }
    .roster .sheet .box, .roster .spell .box {
      border-radius: 1px;
      padding: 1px;
      border: 2px solid transparent; }
      .roster .sheet .box.label, .roster .spell .box.label {
        background-color: #404040; }
      .roster .sheet .box.info, .roster .spell .box.info {
        background: #303030;
        color: #F0F0F0; }
        .roster .sheet .box.info.editable, .roster .spell .box.info.editable {
          cursor: pointer; }
          .roster .sheet .box.info.editable .btn_edit.minus:hover, .roster .spell .box.info.editable .btn_edit.minus:hover {
            color: lime; }
          .roster .sheet .box.info.editable .btn_edit.plus:hover, .roster .spell .box.info.editable .btn_edit.plus:hover {
            color: orangered; }
          .roster .sheet .box.info.editable .btn_edit.value, .roster .spell .box.info.editable .btn_edit.value {
            display: inline-block;
            border: 2px solid black;
            width: 4ex;
            text-align: center; }
            .roster .sheet .box.info.editable .btn_edit.value:hover, .roster .spell .box.info.editable .btn_edit.value:hover {
              background: black; }
    .roster .sheet.skills, .roster .spell.skills {
      grid-template-columns: 150px 75px;
      grid-template-rows: repeat(6, 1.5em);
      order: 2; }
      .roster .sheet.skills .label, .roster .spell.skills .label {
        grid-column: 1 / span 1; }
      .roster .sheet.skills .info, .roster .spell.skills .info {
        grid-column: 2 / span 1; }
      .roster .sheet.skills .header, .roster .spell.skills .header {
        grid-column: 1 / span 2; }
      .roster .sheet.skills.martiales, .roster .spell.skills.martiales {
        order: 5; }
    .roster .sheet.base, .roster .spell.base {
      grid-template-columns: 50px 25px 25px 50px 75px 75px 75px 75px;
      grid-template-rows: repeat(10, 1.5em);
      order: 1;
      flex: 0 1 auto; }
      .roster .sheet.base .header, .roster .spell.base .header {
        grid-column: 1 / span 8; }
      .roster .sheet.base .label, .roster .spell.base .label {
        grid-column: 1 / span 4; }
        .roster .sheet.base .label.sub, .roster .spell.base .label.sub {
          grid-row: span 2;
          align-self: stretch;
          vertical-align: middle; }
        .roster .sheet.base .label.nw, .roster .spell.base .label.nw {
          grid-column: 1 / span 1; }
        .roster .sheet.base .label.ne, .roster .spell.base .label.ne {
          grid-column: 3 / span 1; }
        .roster .sheet.base .label.sw, .roster .spell.base .label.sw {
          grid-column: 1 / span 1; }
        .roster .sheet.base .label.se, .roster .spell.base .label.se {
          grid-column: 3 / span 1; }
        .roster .sheet.base .label.full, .roster .spell.base .label.full {
          grid-column: 1 / span 8; }
          .roster .sheet.base .label.full.large, .roster .spell.base .label.full.large {
            font-size: 2em;
            grid-row: span 2; }
        .roster .sheet.base .label.left, .roster .spell.base .label.left {
          grid-column: 1 / span 4;
          grid-row: 1 / span 2; }
        .roster .sheet.base .label.mid, .roster .spell.base .label.mid {
          grid-column: 5  / span 2;
          grid-row: 1 / span 2; }
        .roster .sheet.base .label.right, .roster .spell.base .label.right {
          grid-column: 7  / span 2;
          grid-row: 1 / span 2; }
      .roster .sheet.base .info, .roster .spell.base .info {
        grid-column: 5 / span 4; }
        .roster .sheet.base .info.nw, .roster .spell.base .info.nw {
          grid-column: 2 / span 1; }
        .roster .sheet.base .info.ne, .roster .spell.base .info.ne {
          grid-column: 4 / span 1; }
        .roster .sheet.base .info.sw, .roster .spell.base .info.sw {
          grid-column: 2 / span 1; }
        .roster .sheet.base .info.se, .roster .spell.base .info.se {
          grid-column: 4 / span 1; }
      .roster .sheet.base .large, .roster .spell.base .large {
        grid-row: span 4; }
      .roster .sheet.base .subset, .roster .spell.base .subset {
        border: 1px solid #404040;
        gap: 1px;
        padding: 0;
        grid-column: 5 / span 4;
        grid-row: span 2;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid; }
      .roster .sheet.base .triset, .roster .spell.base .triset {
        border: 1px solid #404040;
        gap: 1px;
        padding: 0;
        grid-column: 1 / span 8;
        grid-row: span 2;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid; }

body {
  margin: 0;
  padding: 0;
  background: #101010;
  color: #F0F0F0;
  font-family: Neucha; }
  body .world {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
    position: absolute;
    color: #F0F0F0;
    font-family: Neucha;
    width: 99vw;
    height: 99vh;
    top: 0;
    gap: 2px;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px; }
    body .world .spare_right {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      width: 30vw;
      border: 1px solid black;
      background: #30102070;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      padding: 5px;
      z-index: 50; }
    body .world .corpus {
      position: fixed;
      width: auto;
      height: auto;
      top: 0;
      right: 30vw;
      bottom: 0;
      left: 0;
      padding: 15px;
      border-radius: 15px;
      background: #80808020;
      border-radius: 10px;
      border: 1px solid transparent;
      z-index: 10; }

#svg_area {
  display: fixed;
  background: #F0F0F070;
  left: 1vw;
  right: 1vw;
  top: 1vw;
  bottom: auto;
  width: auto;
  height: 98vh;
  border-radius: 10px;
  z-index: 40; }
  #svg_area svg {
    fill: #503050; }

#d3area {
  order: 8;
  flex: 1 1 auto;
  background: transparent;
  width: auto; }

.title {
  margin: 0;
  padding: 5px;
  border: 2px solid #C0C0C070;
  border-radius: 5px;
  background: #30101070;
  box-shadow: 0 0 3px #402040;
  color: white;
  font-family: Neucha;
  order: 1;
  flex: 0 0 auto;
  text-align: center; }

.middle {
  margin: 0;
  padding: 5px;
  border: 2px solid #C0C0C070;
  border-radius: 5px;
  background: #30101070;
  box-shadow: 0 0 3px #402040;
  color: white;
  font-family: Neucha;
  order: 2;
  flex: 1 1 auto; }
  .middle .options {
    margin: 0;
    padding: 5px;
    border: 2px solid #C0C0C070;
    border-radius: 5px;
    background: #30101070;
    box-shadow: 0 0 3px #402040;
    color: white;
    font-family: Neucha;
    order: 1;
    flex: 1 1 auto;
    text-align: center; }

#target_ed, #ed {
  display: block;
  width: 60ex;
  height: 6em;
  margin: 10px;
  background: #00000070;
  border: 1px groove white;
  padding: 5px;
  border-radius: 2px 5px 2px 5px;
  color: white; }

button {
  display: block;
  width: 60ex;
  height: 2.6em;
  margin: 10px; }

.menu {
  margin: 0;
  padding: 5px;
  border: 2px solid #C0C0C070;
  border-radius: 5px;
  background: #30101070;
  box-shadow: 0 0 3px #402040;
  color: white;
  font-family: Neucha;
  order: 5;
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: flex-end;
  gap: 0 40px; }
  .menu .menu_entry {
    border-radius: 5px;
    border: 2px solid #808080;
    padding: 5px;
    flex: 0 0 50px;
    background: #603040;
    text-align: center; }
    .menu .menu_entry img {
      height: 1cm; }
    .menu .menu_entry.off {
      background: #303030C0; }
    .menu .menu_entry:hover {
      background: #3060F0C0;
      cursor: pointer; }

.list {
  margin: 0;
  padding: 5px;
  border: 2px solid #C0C0C070;
  border-radius: 5px;
  background: #30101070;
  box-shadow: 0 0 3px #402040;
  color: white;
  font-family: Neucha;
  order: 4;
  flex: 0 0 30vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 3px; }
  .list .minisheet {
    flex: 1 1 25ex; }

.cardback.selected_for_reveal.verso {
  fill: #A02020; }

.cardback.selected_for_reveal.recto {
  stroke: #A02020; }

table.skillstable {
  border: 1px solid #909090;
  cells-padding: 2px;
  background: transparent;
  border-radius: 5px; }
  table.skillstable td {
    border: 1px solid transparent;
    vertical-align: top;
    background: #30102070; }
  table.skillstable.autochton td {
    background: #3030F030; }
  table.skillstable.traveller td {
    background: #30F03030; }

.container {
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  align-content: stretch;
  align-items: center;
  gap: 5px;
  margin: 0;
  height: 100%;
  border: 1px solid transparent; }

.minisheet {
  display: block;
  font-family: Fredoka;
  font-size: 10pt;
  border: 1px solid #707070;
  border-radius: 5px;
  box-shadow: 0 0 16px #202020;
  background: #30101070;
  padding: 5px;
  flex: 0 1 auto; }
  .minisheet.mark {
    background: #60404070;
    box-shadow: 0 0 16px #604060; }

.minicard {
  background: white;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  width: 40px;
  height: autopx;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  box-shadow: 0 0 5px pink; }
  .minicard img {
    display: inline-block;
    height: 30px;
    width: 30px; }
  .minicard.verso {
    background: #302020;
    border: 3px solid white; }

.stacked {
  order: 1;
  flex: 8 1 auto;
  text-align: center;
  border: 2px solid green;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  background: green; }

.heap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  gap: 5px;
  flex: 1 1 10vw; }

div.showhide.eye {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50000;
  background: #80808020;
  border-radius: 15px;
  padding: 15px;
  color: white; }

.item {
  color: #101010;
  background: #F0F0F0;
  border: 1px solid black;
  border-radius: 5px;
  flex: 1 1 auto; }

.mini {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background: #301020;
  cursor: pointer; }
  .mini:hover {
    background: #103020; }
  .mini.mark {
    background: #101030; }

/*# sourceMappingURL=main.css.map */