@import 'basics';
@import 'roster';
@import 'papers';

body {
  margin: 0;
  padding: 0;
  @include body_background;

  & .universe{
  }

  & .world {

    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
    position: absolute;
    color: $body_color;
    font-family: Neucha;

    width: 99%;
    height: 99%;

    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: flex-center;
    align-items: stretch;
    gap: 10px;
    padding: 5px;

    & .spare_left{
      order: 1;
      flex: 0 0 20%;
      background:$bkg_filter1;
      display:flex;
      flex-flow:column wrap;
      justify-content: space-between;
      align-content:stretch;
      align-items:stretch;
      gap:10px;

    }

    & .spare_right{
      order: 3;
      flex: 0 0 20%;
      background:$bkg_filter1;
      display:flex;
      flex-flow:column wrap;
      justify-content: space-around;
      align-content:stretch;
      align-items:stretch;
      gap:10px;
    }

    & .corpus {
      width: auto;
      flex: 8 1 auto;
      order: 2;
      overflow:auto;
      background:$bkg_filter1;
      border-radius:10px;
      border:1px solid transparent;

      & .stacked {
        order: 1;
        flex: 8 1 auto;
        text-align:center;
        border:2px solid green;
        margin-top:0;
        margin-bottom:0;
        height:auto;
      }
    }
  }
}



#d3area{
    background:transparent;
    width:100vw;
    height:100vh;
    z-index: 10000;
}

.title{
    order:1;
    flex: 0 0 auto;
    background:$bkg_filter2;
    text-align:center;
    border-radius:20px;
    border: 1px solid #605060;
    padding:10px;
}

.middle{
    order:2;
    flex: 1 1 auto;
    background:$bkg_filter2;
    border-radius:20px;
    border: 1px solid #605060;
   padding:10px;
}

.menu{
    background:$bkg_filter2;
    order:3;
    flex: 0 0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-start;
    gap:3px;
    padding:10px;
    padding-bottom:30px;
    border-radius:5px;
    border-radius:20px;
    border: 1px solid #605060;
    & .menu_entry{
        border-radius:5px;
        border: 2px solid #808080;
        flex: 0 0 80px;
        background:#3060F040;
        text-align:center;
        & img{
            height:1cm;
        }
        &.off{
            background:#303030C0;
        }
        &:hover{
            background:#3060F0C0;
            cursor:pointer;
        }

    }

}


.list{
    background:$bkg_filter2;
    order:3;
    flex: 0 0 auto;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-content: flex-end;
    align-items: flex-start;
    gap:3px;
    padding:10px;
    padding-bottom:30px;
    border-radius:5px;
    border-radius:20px;
    border: 1px solid #605060;
}