/*
@mixin panel {
  background: $panel_background;
  color: $panel_color;
  border: 1px solid $panel_border;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 0 0 3px $panel_shadow;
  font-family: Roboto;
  font-size: 10pt;
}
*/
.hidden {
  display: none !important; }

.shownflex {
  display: flex !important; }

.shown {
  display: block !important; }

span.past {
  color: darkslateblue; }

span.future {
  color: darkmagenta; }

.front_message {
  display: block;
  font-size: 1.5em;
  color: black;
  width: 25%;
  margin: 0;
  margin-left: auto;
  margin-right: auto; }

.container {
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  gap: 5px;
  margin: 0;
  height: 100%;
  border: 1px solid transparent; }
  .container .roster {
    background: transparent;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: baseline;
    gap: 5px; }
    .container .roster .sheet {
      display: grid;
      flex: 0 0 auto;
      font-family: Neucha;
      font-size: 10pt;
      border: 1px solid #707070;
      border-radius: 5px;
      margin: 10px;
      padding: 5px;
      gap: 2px;
      box-shadow: 0 0 16px #101010;
      background: #101030; }
      .container .roster .sheet .box {
        border-radius: 1px;
        padding: 1px;
        border: 2px solid transparent; }
        .container .roster .sheet .box.label {
          background-color: #404040; }
        .container .roster .sheet .box.info {
          background: #303030;
          color: #F0F0F0; }
          .container .roster .sheet .box.info.editable {
            cursor: pointer; }
            .container .roster .sheet .box.info.editable .btn_edit.minus:hover {
              color: lime; }
            .container .roster .sheet .box.info.editable .btn_edit.plus:hover {
              color: orangered; }
            .container .roster .sheet .box.info.editable .btn_edit.value {
              display: inline-block;
              border: 2px solid black;
              width: 4ex;
              text-align: center; }
              .container .roster .sheet .box.info.editable .btn_edit.value:hover {
                background: black; }
      .container .roster .sheet.skills {
        grid-template-columns: 150px 75px;
        grid-template-rows: repeat(6, 1.5em);
        order: 2; }
        .container .roster .sheet.skills .label {
          grid-column: 1 / span 1; }
        .container .roster .sheet.skills .info {
          grid-column: 2 / span 1; }
        .container .roster .sheet.skills .header {
          grid-column: 1 / span 2; }
        .container .roster .sheet.skills.martiales {
          order: 5; }
      .container .roster .sheet.base {
        grid-template-columns: 50px 25px 25px 50px 75px 75px 75px 75px;
        grid-template-rows: repeat(10, 1.5em);
        order: 1; }
        .container .roster .sheet.base .header {
          grid-column: 1 / span 8; }
        .container .roster .sheet.base .label {
          grid-column: 1 / span 4; }
          .container .roster .sheet.base .label.sub {
            grid-row: span 2;
            align-self: stretch;
            vertical-align: middle; }
          .container .roster .sheet.base .label.nw {
            grid-column: 1 / span 1; }
          .container .roster .sheet.base .label.ne {
            grid-column: 3 / span 1; }
          .container .roster .sheet.base .label.sw {
            grid-column: 1 / span 1; }
          .container .roster .sheet.base .label.se {
            grid-column: 3 / span 1; }
          .container .roster .sheet.base .label.full {
            grid-column: 1 / span 8; }
            .container .roster .sheet.base .label.full.large {
              font-size: 2em;
              grid-row: span 2; }
          .container .roster .sheet.base .label.left {
            grid-column: 1 / span 4;
            grid-row: 1 / span 2; }
          .container .roster .sheet.base .label.mid {
            grid-column: 5  / span 2;
            grid-row: 1 / span 2; }
          .container .roster .sheet.base .label.right {
            grid-column: 7  / span 2;
            grid-row: 1 / span 2; }
        .container .roster .sheet.base .info {
          grid-column: 5 / span 4; }
          .container .roster .sheet.base .info.nw {
            grid-column: 2 / span 1; }
          .container .roster .sheet.base .info.ne {
            grid-column: 4 / span 1; }
          .container .roster .sheet.base .info.sw {
            grid-column: 2 / span 1; }
          .container .roster .sheet.base .info.se {
            grid-column: 4 / span 1; }
        .container .roster .sheet.base .subset {
          border: 1px solid #404040;
          gap: 1px;
          padding: 0;
          grid-column: 5 / span 4;
          grid-row: span 2;
          display: grid;
          grid-template-columns: subgrid;
          grid-template-rows: subgrid; }
        .container .roster .sheet.base .triset {
          border: 1px solid #404040;
          gap: 1px;
          padding: 0;
          grid-column: 1 / span 8;
          grid-row: span 2;
          display: grid;
          grid-template-columns: subgrid;
          grid-template-rows: subgrid; }

.minisheet {
  display: block;
  font-family: Fredoka;
  font-size: 10pt;
  border: 1px solid #707070;
  border-radius: 5px;
  box-shadow: 0 0 16px #202020;
  background: #30101070;
  padding: 5px;
  flex: 0 1 220px; }
  .minisheet.mark {
    background: #60404070;
    box-shadow: 0 0 16px #604060; }

.item {
  color: #101010;
  background: #F0F0F0;
  border: 1px solid black;
  border-radius: 5px;
  flex: 1 1 auto; }

.mini {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background: #301020;
  cursor: pointer; }
  .mini:hover {
    background: #103020; }
  .mini.mark {
    background: #101030; }

body {
  margin: 0;
  padding: 0;
  background: transparent url("") fixed;
  background: #777777;
  color: #F0F0F0; }
  body .world {
    margin-top: 0;
    margin-bottom: 0;
    z-index: 5;
    position: absolute;
    color: #F0F0F0;
    font-family: Neucha;
    width: 99%;
    height: 99%;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-content: flex-center;
    align-items: stretch;
    gap: 10px;
    padding: 5px; }
    body .world .spare_left {
      order: 1;
      flex: 0 0 20%;
      background: #80808020;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-content: stretch;
      align-items: stretch;
      gap: 10px; }
    body .world .spare_right {
      order: 3;
      flex: 0 0 20%;
      background: #80808020;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      align-content: stretch;
      align-items: stretch;
      gap: 10px; }
    body .world .corpus {
      width: auto;
      flex: 8 1 auto;
      order: 2;
      overflow: auto;
      background: #80808020;
      border-radius: 10px;
      border: 1px solid transparent; }
      body .world .corpus .stacked {
        order: 1;
        flex: 8 1 auto;
        text-align: center;
        border: 2px solid green;
        margin-top: 0;
        margin-bottom: 0;
        height: auto; }

#d3area {
  background: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 10000; }

.title {
  order: 1;
  flex: 0 0 auto;
  background: #30102070;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #605060;
  padding: 10px; }

.middle {
  order: 2;
  flex: 1 1 auto;
  background: #30102070;
  border-radius: 5px;
  border: 1px solid #605060;
  padding: 5px;
  display: flex;
  flex: column wrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: stretch; }
  .middle .options {
    flex: 1 1 auto;
    background: #40101070;
    border-radius: 5px;
    border: 1px solid #909090;
    padding: 5px;
    text-align: center; }

#target_ed, #ed {
  display: block;
  width: 60ex;
  height: 6em;
  margin: 10px;
  background: #00000070;
  border: 1px groove white;
  padding: 5px;
  border-radius: 2px 5px 2px 5px;
  color: white; }

button {
  display: block;
  width: 60ex;
  height: 2.6em;
  margin: 10px; }

.menu {
  background: #30102070;
  order: 5;
  flex: 0 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-end;
  align-items: flex-start;
  gap: 6px 20px;
  padding: 10px;
  border-radius: 5px;
  border-radius: 10px;
  border: 1px solid #605060; }
  .menu .menu_entry {
    border-radius: 5px;
    border: 2px solid #808080;
    padding: 5px;
    flex: 0 0 50px;
    background: #603040;
    text-align: center; }
    .menu .menu_entry img {
      height: 1cm; }
    .menu .menu_entry.off {
      background: #303030C0; }
    .menu .menu_entry:hover {
      background: #3060F0C0;
      cursor: pointer; }

.list {
  background: #30102070;
  order: 4;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  gap: 3px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #605060;
  overflow-y: scroll; }

.cardback.selected_for_reveal.verso {
  fill: #A02020; }

.cardback.selected_for_reveal.recto {
  stroke: #A02020; }

/*# sourceMappingURL=main.css.map */