{% load static %}
{% load dragonade_filters %}

<div class="block_third fat">
    <div class="title">{{s.name}}<br/>{{s.path}} ({{s.category}})</div>
    <div class="stat">
        <div class="label fixed">Jet</div>
        <div class="data text">REV + {{s.roll}} / {{s.diff}}</div>
    </div>
    <div class="stat">
        <div class="label">Points de Rêve</div>
        <div class="data">{{s.dps}}</div>
    </div>
    <div class="stat">
        <div class="label fixed">Description</div>
        <div class="data text">{{s.description|render_text|safe}}</div>
    </div>
    <div class="stat">
        <div class="label fixed">Notes</div>
        <div class="data text">{{s.composantes|render_text|safe}}</div>
    </div>
</div>
