{% load static %}
{% load dragonade_filters %}


<div class="stat">
    <div class="label lazy" style="color:#a0a0a0;" title="{{sk}} ({{cv.rationale|title}})">{{sk|as_skill|safe}}
        <span class="creation_value cv{{cv}}" param="cv{{cv.category}}">
            {% if cv %}&nbsp;

                    {% if cv.category == 1 %}
                        <i class="fa fa-circle-dot"
                        style="color:#1b1b1b;"
                        >
                    {%elif cv.category == 2 %}
                        <i class="fa fa-circle-arrow-down"
                            style="color:darkgreen;"
                        >
                    {%elif cv.category == 3 %}
                        <i class="fa fa-circle-check"
                            style="color:darkkhaki;"
                        >
                    {%elif cv.category == 4 %}
                        <i class="fa fa-circle-arrow-up"
                            style="color:darkcyan;"
                        >
                    {%endif%}

                </i>&nbsp;{{cv.value}}
        {%endif%}
        </span>
    </div>
    <div class="data lazy interactive_element">
        <span style="width:2ex;">{{b|colorize_abs|safe}}</span>
        <span class="btn_edit minus" action="inc_dec" id="{{model|lower}}__{{a.id}}__{{sk}}__minus"><i class="fa fa-arrow-circle-down"></i></span>
        <span class="btn_edit value" action="value" id="{{model|lower}}__{{a.id}}__{{sk}}__value" srcval="{{v|encoded_z|safe}}">&nbsp;{{v|colorize_val|safe}}&nbsp;</span>
        <span class="btn_edit plus" action="inc_dec" id="{{model|lower}}__{{a.id}}__{{sk}}__plus"><i class="fa fa-arrow-circle-up"></i></span>
    </div>
</div>



