{% load static %}
{% load dragonade_filters %}


<div class="tri" id="tri_{{a.id}}">
    <div class="row lax">

        {% for att,v in a.attr.items %}
            {% if forloop.counter0|modulo_of_four_is_0 %}
            <div class="block_third"  style="order:1;">
                <div class="title">{{att|as_attribute_sub_group}}</div>
            {% endif %}
            {% include "main/roster/roster_attribute_lines.html" with a=a att=att v=v %}
            {% if forloop.counter0|modulo_of_four_is_3 %}
            </div>
            {% endif %}
        {% endfor %}
<!--    </div>-->
<!--    <div class="row">-->


        {% if model == "Viaggiatore" %}
        <div class="block_third"  style="order:9;">
            <div class="title">Experience & Calculs</div>
            <div class="stat">
                <div class="label">Total Attributs</div>
                <div class="data">{{a.total_attributes|signed}}</div>
            </div>
            <div class="stat">
                <div class="label">Total Compétences</div>
                <div class="data">{{a.total_skills|signed}}</div>
            </div>
            <div class="stat">
                <div class="label">Stress Acquis</div>
                <div class="data">{%if a.stress_acquired > 0 %}{{a.stress_acquired}}{%else%}Infini{%endif%}</div>
            </div>
            <div class="stat">
                <div class="label">Stress Utilisé</div>
                <div class="data">{{a.stress_used}}</div>
            </div>
            <div class="stat">
                <div class="label">Stress Restant</div>
                <div class="data">{%if a.stress_acquired > 0 %}{{a.stress_remaining}}{%else%}Infini{%endif%}</div>
            </div>
        </div>
        {% endif %}

        {% if model == "Nativo" %}
        <div class="block_third"  style="order:9;">
            <div class="title">Equilibrage</div>
            <div class="stat">
                <div class="label">Total Attributs</div>
                <div class="data">{{a.total_attributes}}</div>
            </div>
            <div class="stat">
                <div class="label">Total Compétences</div>
                <div class="data">{{a.total_skills}}</div>
            </div>
        </div>
        {% endif %}


        {% if model != "Creature" %}
        <div class="block_third"  style="order:8;">
            <div class="title">Divers</div>
            <div class="stat">
                <div class="label fixed">Entrée</div>
                <div class="data auto interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__entrance__value" srcval="{{a.entrance}}">{{a.entrance}}</span>
                </div>
            </div>
            <div class="stat">
                <div class="label fixed">Surnom(s)</div>
                <div class="data auto interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__aka__value" srcval="{{a.aka}}">{{a.aka}}</span>
                </div>
            </div>

            <div class="stat">
                <div class="label fixed">Age</div>
                <div class="data auto interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__age__value" srcval="{{a.age}}">{{a.age}}</span>&nbsp;ans
                </div>
            </div>
            <div class="stat">
                <div class="label fixed">Sexe</div>
                <div class="data auto interactive_element">
                    <span class="editor" action="value" id="{{model|lower}}__{{a.id}}__is_female__value" srcval="{{a.is_gender}}">{{a.is_female|genderize|safe}}&nbsp</span>
                </div>
            </div>
            <div class="stat">
                <div class="label fixed">Taille</div>
                <div class="data auto interactive_element">
                    <span class="editor" action="value" id="{{model|lower}}__{{a.id}}__height__value" srcval="{{a.height}}">{{a.height}}</span>&nbsp;cm
                </div>
            </div>
            <div class="stat">
                <div class="label fixed">Poids</div>
                <div class="data auto">{{a.weight}}&nbsp;kg</div>
            </div>
            <div class="stat">
                <div class="label fixed">Main forte</div>
                <div class="data auto interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__is_lefty__value" srcval="{{a.is_lefty}}">{{a.is_lefty|lefty|safe}}</span>
                </div>
            </div>
            <div class="stat">
                <div class="label fixed">Heure de Naissance</div>
                <div class="data auto interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__birthhour__value" srcval="{{a.birthhour}}">{{a.birthhour|as_hour|safe}}</span>
                </div>
            </div>
            <div class="stat">
                <div class="label fixed">Destinée</div>
                <div class="data auto interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__destiny__value" srcval="{{a.destiny}}">{{a.destiny}}</span>
                </div>
            </div>
            <div class="stat">
                <div class="label fixed">Pts Voyage</div>
                <div class="data auto interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__travel_points__value" srcval="{{a.travel_points}}">{{a.travel_points}}</span>
                </div>
            </div>
        </div>
        <div class="block_third" style="order:7;">
            <div class="title">Attributs Secondaires</div>
            <div class="stat">
                <div class="label">TIR</div>
                <div class="data">{{a.seco.TIR|colorize_val|safe}}</div>
            </div>
            <div class="stat">
                <div class="label">MEL</div>
                <div class="data">{{a.seco.MEL|colorize_val|safe}}</div>
            </div>
            <div class="stat">
                <div class="label">LAN</div>
                <div class="data">{{a.seco.LAN|colorize_val|safe}}</div>
            </div>
            <div class="stat">
                <div class="label">DER</div>
                <div class="data">{{a.seco.DER|colorize_val|safe}}</div>
            </div>
        </div>
        {% endif %}
<!--    </div>-->
<!--    <div class="row">-->


        <div class="block_third" style="order:5;">
            <div class="title">Description</div>
            <div class="stat">
                <div class="data large interactive_element">
                    <span class="editor" id="{{model|lower}}__{{a.id}}__description__value" srcval="{{a.description}}">{{a.description|render_text|safe}}</span>
                </div>
            </div>
        </div>
        <div class="block_third" style="order:20;">
            <div class="title">BUGS</div>
            <div class="stat">
                <div class="data large">{{a.bug_list|render_text|safe}}</div>
            </div>
        </div>
        <div class="block_third"  style="order:4;">
            <div class="title">Caractéristiques Dérivées</div>
            <div class="stat">
                <div class="label">VIE : Points de Vie</div>
                <div class="data">{{a.VIE}}</div>
            </div>
            <div class="stat">
                <div class="label">FAT : Fatigue (PdF)</div>
                <div class="data">{{a.FAT}} ({{a.fatigue_points}} PdF)</div>
            </div>
            <div class="stat">
                <div class="label">FAB : Fable</div>
                <div class="data">{{a.FAB}}</div>
            </div>
            <div class="stat">
                <div class="label">SON : Songe</div>
                <div class="data interactive_element">
                    <span class="editor" action="value" id="{{model|lower}}__{{a.id}}__SON__value" srcval="{{a.SON}}">{{a.SON}}</span>
                </div>
            </div>
            <div class="stat">
                <div class="label">REV : Rêve</div>
                <div class="data">{{a.REV}}</div>
            </div>
            <div class="stat">
                <div class="label">IMP : Impact</div>
                <div class="data">{{a.IMP|signed}}</div>
            </div>
            <div class="stat">
                <div class="label">RES : Résilience</div>
                <div class="data">{{a.RES}}</div>
            </div>
            <div class="stat">
                <div class="label">SUS : Sustentation</div>
                <div class="data">{{a.SUS}}</div>
            </div>
            <div class="stat">
                <div class="label">ENC : Encombrement</div>
                <div class="data">{{a.ENC}}</div>
            </div>
        </div>
    </div>
</div>

