{% load static %}
{% load dragonade_filters %}

<div class="top" id="sh__{{a.rid}}">
    <div class="row">
        <div class="whole name">
            {{a.name}}
            <span class="closer" id="{{a.rid}}__switch" style="float:right;"><i class="fa fa-times"></i></span>
        </div>
        {%if model == "Creatura" %}
            <div class="whole">
                {{a.creature_type_str}}
            </div>
        {%endif%}
        {% if a.entrance %}
            <div class="whole">
                {{a.entrance}}&nbsp;
            </div>
        {%endif%}
        {% if model == "Viaggiatore" %}
            {% if a.is_storyteller %}
            <div class="whole">
                Voyageur du Gardien des Rêves
            </div>
            {%else%}
            <div class="whole">
                par {{a.player|safe}}
            </div>
            {%endif%}
            {% if a.AKA %}&nbsp;
            <div class="whole">
                aka {{a.AKA}}
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>