{% load static %}
{% load dragonade_filters %}

<fieldset class="sheet stackbox gear stackpull" action="{{model|lower}}__{{a.rid}}__GEAR__bulk" param="{{a.gear}}" title="{{a.rid}} = {{a.gear}}">
    <legend>Equipement</legend>
    {{a.gear|as_stack_list|safe}}
</fieldset>

<fieldset class="sheet stackbox spells stackpull" action="{{model|lower}}__{{a.rid}}__SPELLS__bulk" param="{{a.spells}}" title="{{a.rid}} = {{a.spells}}">
    <legend>Sortilèges</legend>
    {{a.spells|as_stack_list|safe}}
</fieldset>