{% load static %}
{% load dragonade_filters %}

<div class="stat">
    <div class="label lazy">{{att}}</div>
    <div class="data lazy editable">
        <span class="btn_edit minus" action="inc_dec" id="{{model|lower}}__{{a.id}}__{{att}}__minus"><i class="fa fa-arrow-circle-down"></i></span>
        <span class="btn_edit value" action="value" id="{{model|lower}}__{{a.id}}__{{att}}__value" srcval="{{v|encoded_z|safe}}">&nbsp;{{v|colorize_val|safe}}&nbsp;</span>
        <span class="btn_edit plus" action="inc_dec" id="{{model|lower}}__{{a.id}}__{{att}}__plus"><i class="fa fa-arrow-circle-up"></i></span>
    </div>
</div>