{% load static %}
{% load dragonade_filters %}

<fieldset class="row lax">
    <legend>Armes</legend>
    {% for w in a.weapons %}
    <div class="block_third">
        <div class="title">{{w.name}}</div>
        <div class="stat">
            <div class="label fixed">Attaque<br/>Score</div>
            <div class="data auto">{{w.stat_name}} + {{w.related_skill_text}}<br/>{{w.stat_value}} + {{w.related_skill_value}} = {{w.base_score}}</div>
        </div>
        {% if w.category == "mel" %}
        <div class="stat">
            <div class="label fixed">Arme de lancer</div>
            <div class="data auto"> {{w.can_be_thrown|as_bool|safe}}</div>
        </div>
        {% if w.can_be_thrown %}
        <div class="stat">
            <div class="label fixed">Portée (Incrément)</div>
            <div class="data auto"> {{w.range}} mètres</div>
        </div>
        {% endif%}
        {% endif %}
        {% if w.category != 18 %}
        <div class="stat">
            <div class="label fixed">Portée (Incrément)</div>
            <div class="data auto"> {{w.range}} mètres</div>
        </div>
        {% endif %}
        {% if w.category == 18 %}
        <div class="stat">
            <div class="label fixed">Impact</div>
            <div class="data auto"> {{w.IMP|signed}}</div>
        </div>
        {% endif %}
        <div class="stat">
            <div class="label fixed">DOMA (1m/2m)</div>
            <div class="data auto">{{w.plus_dom|as_doma}} / {{w.plus_dom_2m|as_doma}}</div>
        </div>
        <div class="stat">
            <div class="label fixed">Encombrement</div>
            <div class="data auto">{{w.enc}}</div>
        </div>
        <div class="stat">
            <div class="label fixed">Prix</div>
            <div class="data auto">{{w.price|as_money}}</div>
        </div>
    </div>
    {% endfor %}
</fieldset>



