{% load static %}
{% load dragonade_filters %}

<div class="block_third segregate">
    <div class="title">{{s.name|upper}}<br/>{{s.path}} ({{s.category}}) [{{s.power}}]</div>
    <div class="stat">
        <div class="label lazy">Jet</div>
        <div class="data lazy">REV + {{s.roll}} / {{s.diff}}</div>
    </div>
    <div class="stat">
        <div class="label lazy">Points de Rêve</div>
        <div class="data lazy">{{s.dps}}</div>
    </div>
    <div class="stat">
        <div class="label lazy">Durée</div>
        <div class="data lazy">{{s.duration_str}}</div>
    </div>
    <div class="stat">
        <div class="label lazy">Portée</div>
        <div class="data lazy">{{s.range_str}}</div>
    </div>
    <div class="stat">
        <div class="label lazy">Temps d'Incantation</div>
        <div class="data lazy">{{s.ti_str}}</div>
    </div>
    <div class="stat">
        <div class="label lazy">Zone</div>
        <div class="data lazy">{{s.area_str}}</div>
    </div>
    <div class="stat">
        <div class="label lazy">Sacrifice de Songe</div>
        <div class="data lazy">{{s.songe}}</div>
    </div>

    <div class="stat">
        <div class="label fixed">Description</div>
        <div class="data auto">{{s.description|render_text|safe}}</div>
    </div>
    <div class="stat">
        <div class="label fixed">Notes</div>
        <div class="data auto">{{s.composantes|render_text|safe}}</div>
    </div>
</div>
