{% extends "base.html" %}
{%  load static %}

{% block east %}
    {% include "main/menu.html" with title=title %}
    {% include "main/lists/appartuses_options.html"%}
    <fieldset class="list">
        <legend>Artefacts</legend>
        {% include "main/lists/appartuses_list.html" %}
    </fieldset>
{% endblock east %}

{% block main %}
    <div id="svg_area"></div>
{% endblock main %}

{% block custom_js %}
<script>
    _.defer(function () {
        let co = new Chiaroscuro({{config|safe}})
        co.perform();
    });
</script>
{% endblock custom_js %}