{% extends "base.html" %}
{%  load static %}

{% block east %}
    {% include "main/menu.html" with title=title %}


<div class="list">
    <div class="paginator previous" page="{{previous_page}}">
        <i class="fas fa-arrow-left"></i>
    </div>
    <div class="paginator next" page="{{next_page}}">
        <i class="fas fa-arrow-right"></i>
    </div>
</div>
<div class="middle">
</div>

{% endblock east %}



{% block main %}
    <div class="heap">
    {% for i in spells %}
        {% include "main/spell.html" with i=i%}
    {% endfor %}
    </div>
{% endblock main %}

{% block custom_js %}
<script>
    _.defer(function () {
        let co = new Chiaroscuro({{config|safe}})
        co.perform();
    });
</script>
{% endblock custom_js %}