{% load static %}
{% load dragonade_filters %}

<div class="zlist_entry" id="incantessimo__filters">
    <div id="incantessimo__filter__path__oniros" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Oniros</div>
    <div id="incantessimo__filter__path__hypnos" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Hypnos</div>
    <div id="incantessimo__filter__path__morphos" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Morphos</div>
    <div id="incantessimo__filter__path__narcos" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Narcos</div>
    <div id="incantessimo__filter__path__thanatos" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Thanatos</div>
</div>