{% load static %}
{% load dragonade_filters %}

<div model="incantessimo" class="zlist_item number" style="order:-1;" >{{num}}</div>
<div id="{{s.rid}}__edit" model="incantessimo" class="zlist_item normal list_action" style="order:0; text-align:left;" title="edit"><i class="fa fa-cog"></i></div>
<div id="{{s.rid}}__view" model="incantessimo" class="zlist_item normal list_action" style="order:0; text-align:left;" title="view"><i class="fa fa-eye"></i></div>
<div id="{{s.rid}}__export" model="incantessimo" class="zlist_item normal list_action" style="order:0; text-align:left;" title="export"><i class="fa fa-up-right-from-square"></i></div>
<div id="{{s.rid}}__category" model="incantessimo" class="zlist_item symbol shifter" style="order:1">{{ s.category|as_category|safe }}</div>
<div id="{{s.rid}}__path" model="incantessimo" class="zlist_item symbol shifter" style="order:1">{{ s.path|as_category|safe }}</div>
<div class="zlist_item label" model="incantessimo" style="order:0">{{ s.name }}<br/>{{s.pentacle_code}}</div>
<div class="zlist_item text action" model="incantessimo" style="order:3; text-align:left;">{{ s.description|render_text|safe }}</div>
<div class="zlist_item text" model="incantessimo" style="order:3; text-align:left;">{{ s.composantes|render_text|safe }}</div>
<div class="zlist_item number" model="incantessimo" style="order:4">PDR<br/>{{ s.dps }}</div>
<div class="zlist_item number" model="incantessimo" style="order:1">PUI<br/>{{s.power}}</div>
<div class="zlist_item number" model="incantessimo" style="order:1">EXT<br/>{{s.power_boost}}</div>

<div id="{{s.rid}}__ground_charge" model="incantessimo" class="zlist_item symbol shifter" style="order:15">{{ s.ground_charge|as_ground_charge|safe }}</div>
<div id="{{s.rid}}__hour_charge" model="incantessimo" class="zlist_item symbol shifter" style="order:16">{{ s.hour_charge|as_hour_charge|safe }}</div>
<div id="{{s.rid}}__emanation_charge" model="incantessimo" class="zlist_item symbol shifter" style="order:17">{{ s.emanation_charge|as_emanation_charge|safe }}</div>
<div id="{{s.rid}}__consistency_charge" model="incantessimo" class="zlist_item symbol shifter" style="order:18">{{ s.consistency_charge|as_consistency_charge|safe }}</div>
<div id="{{s.rid}}__elemental_charge" model="incantessimo" class="zlist_item symbol shifter" style="order:19">{{ s.elemental_charge|as_elemental_charge|safe }}</div>


<div id="{{s.rid}}__diff"  class="zlist_item number shifter" model="incantessimo" style="order:3" title="{{s.diff}}">{%include "main/svg/diff.svg" with diff=s.diff %}</div>

<div class="zlist_item simple"  model="incantessimo" style="order:4">{{ s.ti }}</div>
<div class="zlist_item simple" model="incantessimo" style="order:5">Rêve + {{ s.roll }}</div>
<div class="zlist_item simple" model="incantessimo" style="order:6">{{ s.spell_ready|as_bool|safe }}</div>