{% load static %}
{% load dragonade_filters %}

<div class="zlist_entry" id="incantessimo__filters">
    <div id="incantessimo__filter__path__1" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Générique</div>
    <div id="incantessimo__filter__path__2" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Hypnos</div>
    <div id="incantessimo__filter__path__3" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Oniros</div>
    <div id="incantessimo__filter__path__4" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Narcos</div>
    <div id="incantessimo__filter__path__6" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Morphos</div>
    <div id="incantessimo__filter__path__5" class="zlist_item filter list_action" style="order:-1; text-align:left;"><i class="fa fa-eye"></i> Thanatos</div>
</div>