{% load static %}

<div class="middle">
    <div class="middleblock options">
        <textarea id="ed" placeholder="Entrer la nouvelle valeur ici..."></textarea>
        <textarea id="target_ed" class="hidden"></textarea>
        <div id="echo" class="hidden"></div>
        <div class='btn option_btn' id="valuepush_ed"><i class="fas fa-circle-arrow-up"></i>&nbsp;Valider</div>
        <div class="p1">palette1</div>
        <div class="p2">palette2</div>
        <div class="p3">palette3</div>
        <div class="p4">palette4</div>
        <div class="p5">palette5</div>
    </div>
</div>