{% load static %}
azeaze

{{reference.incantessimi}}
<div class="middle">
    <div class="middleblock references">
        <fieldset class="option_block">
            <legend>Références: Sortilèges</legend>
            {% for s in reference.incantessimi %}
                <div class="ref_entry spell stackpush" param="{{s.rid}}"><div class="name">{{s.name}}</div><div class="rid">{{s.rid}}</div> </div>
            {% endfor %}
        </fieldset>
        <fieldset class="option_block">
            <legend>Références: Equipement</legend>
            {% for s in reference.equipment %}
                <div class="ref_entry gear stackpush" param="{{s.rid}}"><div class="name">{{s.name}}</div><div class="rid">{{s.rid}}</div> </div>
            {% endfor %}
        </fieldset>
    </div>
</div>