{% load static %}
{% load dragonade_filters %}

        <div class="combat_parameters" param="{{combat.code}}">
            <fieldset class="generic">
                <legend>Combat {{combat.code}}</legend>
                <div class='btn option_btn little combat_panel kicker' id="new_combat" action="ini" param="{{combat.rid}}" target="combat" title="Nouveau"><i class="fas fa-play"></i></div>
                <div class='btn option_btn little combat_panel kicker' id="run_combat" action="run" param="{{combat.rid}}" target="combat" title="Simuler"><i class="fas fa-circle"></i></div>
                <div class='btn option_btn little combat_panel kicker' id="previous_round" action="previous" param="{{combat.rid}}" target="combat" title="Tour Précédent"><i class="fas fa-backward"></i></div>
                <div class='btn option_btn little combat_panel kicker' id="next_round" action="next" param="{{combat.rid}}" target="combat" title="Tour Suivant"><i class="fas fa-forward"></i></div>
                <div class='btn option_btn little combat_panel kicker' id="stop_combat" action="stop" param="{{combat.rid}}" target="combat" title="Arrêter le Combat"><i class="fas fa-square"></i></div>
            </fieldset>
            <fieldset id="blue_team" class="team">
                <legend style="color:#8080F0;">Blue Team</legend>
                {% for item in combat.teams.blue %}
                    <div class="mate blue" param="{{item.rid}}" owner="{{combat.code}}">{{item.name}}</div>
                {% endfor %}
            </fieldset>
            <fieldset id="red_team" class="team">
                <legend style="color:#F08080;">Red Team</legend>
                {% for item in combat.teams.red %}
                    <div class="mate red" param="{{item.rid}} owner="{{combat.code}}">{{item.name}}</div>
                {% endfor %}
            </fieldset>

        </div>