{% load static %}
{% load dragonade_filters %}

<fieldset class="battle_init" style="order:{{init.order}}; background:{{init.team_color}};">
    <legend>{{init.name}}</legend>
    {{init.color|as_teamcol|safe}}
    {% if init.is_dead %}
        <div class="info_block">
            <span class="huge"><i class="fas fa-skull"></i></span><br/>
            Died with honor.</br>Rest In Peace.
        </div>
    {% else %}
    <div class="info_block">
        {% include "main/svg/d12_small.svg" with fill="#f0c080" value=init.die %}<br/>
        Intitiative: </br>
        <span class="big">{{init.init}}</span>
    </div>
    <div class="info_block">
        Difficulté choisie<br/><span class="big">{{init.diff}}<span>
    </div>
    <div class="info_block">
        <span class="big">{{init.name}}</span> attaque <span class="big">{{init.versus.name}}</span>
    </div>
    <div class="info_block">
        {% for atk in init.attacks %}
            {% include "main/objects/battle_attack_block.html" %}
        {% endfor %}
    </div>
    {% endif %}


</fieldset>