{% load static %}
{% load dragonade_filters %}


{% for w in a.features.armors %}
    <div class="box triset">
        <div class="box label left">{{w.name}}</div>
        <div class="box label mid">Prot.: {{w.prot}}</div>
        <div class="box label right">Malus: {{w.malus_armure}}</div>
    </div>
    <div class="box triset">
        <div class="box label left"></div>
        <div class="box label mid">{{w.cover}}</div>
        <div class="box label right">Materiaux: {{w.materiaux}}</div>
    </div>



{% endfor %}
