{% load static %}
{% load dragonade_filters %}

<div class="sheet base" id="sb_{{a.id}}">
    <div class="box header" style="text-align:left;">
        <span class="skill_switch" id="{{a.id}}_switch"><i class="fa fa-edit"></i></span>
    </div>
    <div class="box label full large classy">{{a.name}}</div>
    {% if a.player %}
    <div class="box label full" title="Joueur">({{a.player|safe}})</div>
    {%endif%}
    <div class="box label full editable">
        <span class="btn_edit value" title="Entrée"
              action="value" id="{{a.type}}__{{a.id}}__ENTRANCE__value"
              srcval="{{a.misc.ENTRANCE|encoded_z|safe}}">&nbsp;{{a.misc.ENTRANCE}}&nbsp;
        </span>
    </div>
    {% if a.features.AKA %}&nbsp;
    <div class="box label full editable">
        <span class="btn_edit value" title="AKA"
              action="value" id="{{a.type}}__{{a.id}}__AKA__value"
              srcval="{{a.features.AKA|encoded_z|safe}}">&nbsp;{{a.features.AKA}}

        </span>
    </div>
    {% endif %}
    <div class="box line">
        <div class="box label nw">Age</div>
        <div class="box info nw editable">
            <span class="btn_edit value"
                  action="value" id="{{a.type}}__{{a.id}}__AGE__value"
                  srcval="{{a.features.AGE}}">&nbsp;{{a.features.AGE}}&nbsp;ans
            </span>
        </div>
        <div class="box label ne">Sexe</div>
        <div class="box info ne editable">
            <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__GENDER__value"
                  srcval="{{a.features.GENDER|encoded_z|safe}}">{{a.features.GENDER|genderize|safe}}
            </span>
        </div>
        <div class="box label sw">Main Forte</div>
        <div class="box info sw editable">
            <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__LEFTY__value"
                  srcval="{{a.features.LEFTY|encoded_z|safe}}">
            {{a.features.LEFTY|lefty|safe}}
            </span>
        </div>
        <div class="box label se">Heure de Naissance</div>
        <div class="box info se">{{a.birthhour|as_hour|safe}}</div>
    </div>
    <div class="box line">
        <div class="box label nw">Taille</div>
        <div class="box info nw editable">
            <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__HEIGHT__value"
                  srcval="{{a.features.HEIGHT|encoded_z|safe}}">{{a.features.HEIGHT}}
            </span> cm
        </div>
        <div class="box label ne">Poids</div>
        <div class="box info ne editable">
            <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__WEIGHT__value"
                  srcval="{{a.features.WEIGHT|encoded_z|safe}}"> {{a.features.WEIGHT}}
            </span> kg
        </div>
        <div class="box label sw">IMC</div>
        <div class="box info sw">{{a.features.imc}}</div>
        <div class="box label se">TGL</div>
        <div class="box info se">{{a.features.tai_guideline}}</div>
    </div>
    {% for att,v in a.attributes.items %}
    {% if forloop.counter0|modulo_of_four_is_0 %}
    <div class="box label sub">{{att|as_attribute_sub_group}}</div>
    <div class="box subset">
        {% endif %}
        {% include "main/attribute_lines.html" with a=a att=att v=v %}
        {% if forloop.counter0|modulo_of_four_is_3 %}
    </div>
    {% endif %}
    {% endfor %}


    <div class="box label sub">Secondaires</div>
    <div class="box subset">
        <div class="box label nw">TIR</div>
        <div class="box info nw">{{a.secondaries.TIR|colorize_val|safe}}</div>
        <div class="box label ne">LAN</div>
        <div class="box info ne">{{a.secondaries.LAN|colorize_val|safe}}</div>
        <div class="box label sw">MEL</div>
        <div class="box info sw">{{a.secondaries.MEL|colorize_val|safe}}</div>
        <div class="box label se">DER</div>
        <div class="box info se">{{a.secondaries.DER|colorize_val|safe}}</div>
    </div>


    <div class="box line">
        <div class="box label nw">VIE</div>
        <div class="box info nw">{{a.misc.VIE}}</div>
        <div class="box label ne">Fatigue</div>
        <div class="box info ne">{{a.misc.FAT}} ({{a.misc.pf}})</div>
        <div class="box label sw">FABLE</div>
        <div class="box info sw">{{a.misc.FAB|colorize_val|safe}}</div>
        <div class="box label se">SONGE</div>
        <div class="box info se editable">
                        <span class="box info se btn_edit value" action="value" id="{{a.type}}__{{a.id}}__SON__value"
                              srcval="{{a.misc.SON|encoded_z|safe}}">&nbsp;{{a.misc.SON|colorize_val|safe}}&nbsp;</span>
        </div>
    </div>

    <div class="box line">
        <div class="box label nw">REVE</div>
        <div class="box info nw">{{a.misc.REV}}</div>
        <div class="box label ne">+Prot</div>
        <div class="box info ne">{{a.misc.PROT}}</div>
        <div class="box label sw"></div>
        <div class="box info sw"></div>
        <div class="box label se"></div>
        <div class="box info se"></div>
    </div>

    <div class="box line">
        <div class="box label nw">Bonus domages (+dom)</div>
        <div class="box info nw">{{a.misc.DOM|signed}}</div>
        <div class="box label ne">Sustentation</div>
        <div class="box info ne">{{a.misc.SUS}}</div>
        <div class="box label sw">Seuil Constit (SC)</div>
        <div class="box info sw">{{a.misc.SCO}}</div>
        <div class="box label se">Encombrement</div>
        <div class="box info se">{{a.misc.ENC}}</div>
    </div>

    <div class="box triset">
        <div class="box label left"></div>
        <div class="box label mid">Total Attributs:<br/>{{a.misc.total_attributes}}</div>
        <div class="box label right">Total Compétences:<br/>{{a.misc.total_skills}}</div>
    </div>


    <div class="box triset">
        <div class="box label left">Indice:<BR/>{{a.misc.indice}}</div>
        <div class="box label mid">Indice Attributs:<BR/>{{a.misc.indice_a}}</div>
        <div class="box label right">Indice Compétences:<BR/>{{a.misc.indice_s}}</div>
    </div>


</div>
