{% load static %}
{% load dragonade_filters %}

<div class="sheet header" id="sh_{{a.id}}">
    <div class="box header" style="text-align:left;">
        <span class="skill_switch" id="{{a.id}}_switch"><i class="fa fa-edit"></i></span>
    </div>
    <div class="box label full large classy">{{a.name}} {% if a.has_bug %}<i class="fa fa-times" style="color:red;" title="{{a.bug_list}}"></i>{% endif %}</div>
    {% if a.player %}
    <div class="box label full" title="Joueur">({{a.player|safe}})</div>
    {%endif%}
    <div class="box label full editable">
        <span class="btn_edit value" title="Entrée"
              action="value" id="{{a.type}}__{{a.id}}__ENTRANCE__value"
              srcval="{{a.misc.ENTRANCE|encoded_z|safe}}">&nbsp;{{a.misc.ENTRANCE}}&nbsp;
        </span>
    </div>
    {% if a.features.AKA %}&nbsp;
    <div class="box label full editable">
        <span class="btn_edit value" title="AKA"
              action="value" id="{{a.type}}__{{a.id}}__AKA__value"
              srcval="{{a.features.AKA|encoded_z|safe}}">&nbsp;{{a.features.AKA}}

        </span>
    </div>
    {% endif %}
</div>