{% load static %}
{% load dragonade_filters %}

<div class="top" id="sh__{{a.rid}}">
    <div class="row">
        <div class="whole name">
            {{a.name}}
            <span class="closer" id="{{a.rid}}__switch" style="float:right;"><i class="fa fa-times"></i></span>
        </div>

        {% if a.is_storyteller %}
        {%else%}
        <div class="whole">
            par {{a.player|safe}}
        </div>
        {%endif%}
        {% if a.misc.ENTRANCE %}
        <div class="whole">
            {{a.misc.ENTRANCE}}&nbsp;
        </div>
        {%endif%}
        {% if a.features.AKA %}&nbsp;
        <div class="whole">
            aka {{a.features.AKA}}
        </div>
        {% endif %}
    </div>
</div>