{% load static %}
{% load dragonade_filters %}

<div class="sheet weapons">
    <div class="box header" style="text-align:left;">
    <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__GEAR__value" srcval="{{a.features.GEAR|encoded_z|safe}}">
        ARMES
    </span>
    </div>
    {% include "main/objects/weapons.html"%}
</div>

<div class="sheet protection">
    <div class="box header" style="text-align:left;">
        <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__OTHER__value" srcval="{{a.features.OTHER|encoded_z|safe}}">PROTECTION</span>
    </div>
    {% include "main/objects/protection.html"%}
</div>

<div class="sheet gear gearpull" action="{{a.type}}__{{a.id}}__GEAR__bulk" param="{{a.features.GEAR}}" title="{{a.rid}} = {{a.features.GEAR}}">
    {{a.features.GEAR|as_gear_list|safe}}
</div>