{% load static %}
{% load dragonade_filters %}

<table class='skillstable {{a.type}}' id="ss_{{a.id}}">
    <tr>
<td rowspan="3">
<div class="sheet base" id="sb_{{a.id}}">
    <div class="box header" style="text-align:left;">
        <span class="skill_switch" id="{{a.id}}_switch"><i class="fa fa-edit"></i></span>
        <span class="skill_card" id="{{a.id}}_card"><i class="fa fa-file"></i></span>
        BASE
    </div>
    <div class="box label full large">{{a.name}}</div>
    <div class="box label full">{{a.misc.entrance}}</div>


    <div class="box label sub"></div>
    <div class="box subset">
        <div class="box label nw">Age</div>
        <div class="box info nw">{{a.features.age}} ans</div>
        <div class="box label ne">Sexe</div>
        <div class="box info ne">{{a.features.gender}}</div>
        <div class="box label sw">Main Forte</div>
        <div class="box info sw">{{a.features.lefty|genderize|safe}}</div>
        <div class="box label se"></div>
        <div class="box info se"></div>
    </div>
    <div class="box label sub">{{a.features.tai_guideline}}</div>
    <div class="box subset">
        <div class="box label nw">Taille</div>
        <div class="box info nw">
            <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__HEIGHT__value" srcval="{{a.features.HEIGHT|encoded_z|safe}}">
            {{a.features.HEIGHT}}
            </span>
        </div>
        <div class="box label ne">Poids</div>
        <div class="box info ne">
            <span class="btn_edit value" action="value" id="{{a.type}}__{{a.id}}__WEIGHT__value" srcval="{{a.features.WEIGHT|encoded_z|safe}}">
            {{a.features.WEIGHT}}
            </span>
        </div>
        <div class="box label sw">IMC</div>
        <div class="box info sw">{{a.features.imc}}</div>
        <div class="box label se">TGL</div>
        <div class="box info se"></div>
    </div>


    <div class="box triset">
        <div class="box label left">{{a.dream}}</div>
        <div class="box label mid"><img src="{{a.birthhour|as_draconichour|safe}} " height="30px"/></div>
        <div class="box label right">Total Attributes:<br/>{{a.misc.total_attributes}}</div>
    </div>


    <div class="box triset">
        <div class="box label left">Indice:<BR/>{{a.misc.indice}}</div>
        <div class="box label mid">Indice Attributs:<BR/>{{a.misc.indice_a}}</div>
        <div class="box label right">Indice Compétences:<BR/>{{a.misc.indice_s}}</div>
    </div>


    {% for att,v in a.attributes.items %}
    {% if forloop.counter0|modulo_of_four_is_0 %}
    <div class="box label sub">{{att|as_attribute_sub_group}}</div>
    <div class="box subset">
        {% endif %}
        {% include "main/attribute_lines.html" with a=a att=att v=v %}
        {% if forloop.counter0|modulo_of_four_is_3 %}
    </div>
    {% endif %}
    {% endfor %}


    <div class="box label sub">Secondaires</div>
    <div class="box subset">
        <div class="box label nw">TIR</div>
        <div class="box info nw">{{a.secondaries.TIR|colorize_val|safe}}</div>
        <div class="box label ne">LAN</div>
        <div class="box info ne">{{a.secondaries.LAN|colorize_val|safe}}</div>
        <div class="box label sw">MEL</div>
        <div class="box info sw">{{a.secondaries.MEL|colorize_val|safe}}</div>
        <div class="box label se">DER</div>
        <div class="box info se">{{a.secondaries.DER|colorize_val|safe}}</div>
    </div>

    <div class="box label sub">Dérivées</div>
    <div class="box subset">
        <div class="box label nw">VIE</div>
        <div class="box info nw">{{a.misc.VIE}}</div>
        <div class="box label ne">Fatigue</div>
        <div class="box info ne">{{a.misc.FAT}} ({{a.misc.pf}})</div>
        <div class="box label sw">REVE</div>
        <div class="box info sw">{{a.misc.REV|colorize_val|safe}}</div>
        <div class="box label se">SRE</div>
        <div class="box info se">{{a.misc.sre}} [{{a.misc.tre|colorize_val|safe}}]</div>
    </div>
    <div class="box label sub">Modificateurs</div>
    <div class="box subset">
        <div class="box label nw">+dom</div>
        <div class="box info nw">{{a.misc.DOM|signed}}</div>
        <div class="box label ne">Sustentation</div>
        <div class="box info ne">{{a.misc.SUS}}</div>
        <div class="box label sw">SC</div>
        <div class="box info sw">{{a.misc.SCO}}</div>
        <div class="box label se">Encombrement</div>
        <div class="box info se">{{a.misc.ENC}}</div>
    </div>
</div>


<div class="sheet weapons" >
    <div class="box header" style="text-align:left;">ARMES</div>
    <div class="box label">libellé</div>
    <div class="box info">données</div>
</div>

<div class="sheet magic" >
    <div class="box header" style="text-align:left;">MAGIE</div>
    <div class="box label">libellé</div>
    <div class="box info">données</div>
</div>


</td>
        <td>
            <div class="sheet skills all for_display_{{a.id}}" id="ssa_{{a.id}}">
                <div class="box header">COMPETENCES</div>
                {% for c,cat in a.skills.items %}
                    {% for sk,v in cat.items %}
                        {% include "main/skill_lines_unforced.html" with a=a sk=sk v=v%}
                    {% endfor %}
                {% endfor %}
            </div>
       </td>
        <td>
            <div class="sheet skills generales for_edit_{{a.id}}" id="ssg_{{a.id}}">
                <div class="box header">GENERALES</div>
                {% for sk,v in a.skills.generic.items %}
                {% include "main/skill_lines.html" with a=a sk=sk v=v%}
                {% endfor %}
            </div>
            <div class="sheet skills particulieres for_edit_{{a.id}}" id="ssp_{{a.id}}">
                <div class="box header">PARTICULIERES</div>
                {% for sk,v in a.skills.peculiar.items %}
                {% include "main/skill_lines.html" with a=a sk=sk v=v%}
                {% endfor %}
            </div>

        </td>
        <td>
            <div class="sheet skills specialisees for_edit_{{a.id}}" id="sss_{{a.id}}">
                <div class="box header">SPECIALISEES</div>
                {% for sk,v in a.skills.specialized.items %}
                {% include "main/skill_lines.html" with a=a sk=sk v=v%}
                {% endfor %}
            </div>

            <div class="sheet skills connaissances for_edit_{{a.id}}" id="ssc_{{a.id}}">
                <div class="box header">CONNAISSANCES</div>
                {% for sk,v in a.skills.knowledge.items %}
                {% include "main/skill_lines.html" with a=a sk=sk v=v%}
                {% endfor %}
            </div>
            <div class="sheet skills draconiques for_edit_{{a.id}}" id="ssd_{{a.id}}">
                <div class="box header">DRACONIQUES</div>
                {% for sk,v in a.skills.draconic.items %}
                {% include "main/skill_lines.html" with a=a sk=sk v=v%}
                {% endfor %}
            </div>
        </td>
        <td>
            <div class="sheet skills martiales for_edit_{{a.id}}" id="ssm_{{a.id}}">
                <div class="box header">MARTIALES</div>
                {% for sk,v in a.skills.weapons.items %}
                {% include "main/skill_lines.html" with a=a sk=sk v=v%}
                {% endfor %}
            </div>
        </td>

    </tr>
</table>













