{% load static %}
{% load dragonade_filters %}

<div class='roster skillstable {{model|lower}} hidden' kid="ss_{{a.id}}" id="roster__{{a.rid}}">
    {% include "main/roster/roster_header.html" %}
    <div class="tabnav">
        <span class="tabbutton on" id="tabbutton_base" param="base">Base</span>
        <span class="tabbutton" id="tabbutton_skills" param="skills">Compétences</span>
        <span class="tabbutton" id="tabbutton_magic" param="magic">Arts Draconiques</span>
        <span class="tabbutton" id="tabbutton_gear" param="gear">Equipement</span>
        <span class="tabbutton" id="tabbutton_pullers" param="pullers">Boîtes de Sélection</span>
        <span class="tabbutton" id="tabbutton_summary" param="summary">Résumé</span>
    </div>
    <div class="tabpanel" id="tabpanel_base">
    {% include "main/roster/roster_base.html" %}
    </div>
    <div class="tabpanel hidden" id="tabpanel_magic">
    {% include "main/roster/roster_magic.html" %}
    </div>
    <div class="tabpanel hidden" id="tabpanel_gear">
    {% include "main/roster/roster_gear.html" %}
    </div>
    <div class="tabpanel hidden" id="tabpanel_summary">
    {% include "main/roster/roster_summary.html" %}
    </div>
    <div class="tabpanel hidden" id="tabpanel_pullers">
    {% include "main/roster/roster_pullers.html" %}
    </div>
    <div class="tabpanel hidden" id="tabpanel_skills">
    {% include "main/roster/roster_skills.html" %}
    </div>

    </div>
</div>













