{% load static %}

<div class="middle">
    <div class="options">
        <textarea id="ed" placeholder="Entrer la nouvelle valeur ici..."></textarea>
        <textarea id="target_ed"></textarea>
        <button class='btn option_btn' id="validate_ed"><i class="fas fa-circle-arrow-up"></i>&nbsp;Valider</button>
        <button class='btn option_btn' id="new_auto"><i class="fas fa-chess-pawn"></i>&nbsp;Nouvel Autochtone</button>
        <button class='btn option_btn' id="new_trav"><i class="fas fa-chess-bishop"></i>&nbsp;Nouveau Voyageur</button>
        <button class='btn option_btn' id="new_trav"><i class="fas fa-chess-king"></i>&nbsp;Nouveau Rêve</button>
    </div>
</div>