{% extends "base.html" %}
{%  load static %}


{% block west %}
    {% include "main/menu.html" with title=title %}
{% endblock west %}


{% block east %}
    <div class="middle">
    </div>
    <div class="list">
    {% for x in data %}
        {% include "main/mini.html" with a=x addclass="paper" %}
    {% endfor %}
    </div>
{% endblock east %}


{% block main %}
<div class="container">
    {% for x in data %}
        <div class="item hidden" id="item__{{x.id}}" code="{{x.code}}"></div>
    {% endfor %}
</div>
{% endblock main %}


{% block custom_js %}
<script>
    _.defer(function () {
        let co = new Chiaroscuro({{config|safe}})
        {% for x in data %}
        co.tables["{{x.code}}"] = {{x.data|safe}};
        {% endfor %}
        co.perform();
        co.revealUI();
    });
</script>
{% endblock custom_js %}