{% load static %}
{% load dragonade_filters %}

<div class="sheet base" id="sb_{{a.id}}">
    <div class="box header">FONDAMENTAUX</div>
    <div class="box label">Nom</div><div class="box info">{{a.name}}</div>
    <div class="box label">Entrance</div><div class="box info">{{a.misc.entrance}}</div>
    <div class="box label">Rêve</div><div class="box info">{{a.dream}}</div>
    <div class="box label">Heure de Naissance</div><div class="box info"><img src="{{a.birthhour|as_draconichour|safe}}" height="15px"></div>
    <div class="box label sub">Physique</div>
    <div class="box subset">
        <div class="box label nw">AGI</div>
        <div class="box info nw editable" action="inc_dec" id="{{a.type}}__{{a.id}}__AGI">{{a.attributes.AGI|colorize_val|safe}}</div>
        <div class="box label ne">CON</div>
        <div class="box info ne editable" action="inc_dec" id="{{a.type}}__{{a.id}}__CON">{{a.attributes.CON|colorize_val|safe}}</div>
        <div class="box label sw">FOR</div>
        <div class="box info sw editable" action="inc_dec" id="{{a.type}}__{{a.id}}__FOR">{{a.attributes.FOR|colorize_val|safe}}</div>
        <div class="box label se">TAI</div>
        <div class="box info se editable" action="inc_dec" id="{{a.type}}__{{a.id}}__TAI">{{a.attributes.TAI|colorize_val|safe}}</div>
    </div>
    <div class="box label sub">Sensoriel</div>
    <div class="box subset">
        <div class="box label nw">EMP</div>
        <div class="box info nw editable" action="inc_dec" id="{{a.type}}__{{a.id}}__EMP">{{a.attributes.EMP|colorize_val|safe}}</div>
        <div class="box label ne">ODG</div>
        <div class="box info ne editable" action="inc_dec" id="{{a.type}}__{{a.id}}__ODG">{{a.attributes.ODG|colorize_val|safe}}</div>
        <div class="box label sw">OUI</div>
        <div class="box info sw editable" action="inc_dec" id="{{a.type}}__{{a.id}}__OUI">{{a.attributes.OUI|colorize_val|safe}}</div>
        <div class="box label se">VUE</div>
        <div class="box info se editable" action="inc_dec" id="{{a.type}}__{{a.id}}__VUE">{{a.attributes.VUE|colorize_val|safe}}</div>
    </div>
    <div class="box label sub">Ame</div>
    <div class="box subset">
        <div class="box label nw">APP</div>
        <div class="box info nw editable" action="inc_dec" id="{{a.type}}__{{a.id}}__APP">{{a.attributes.APP|colorize_val|safe}}</div>
        <div class="box label ne">DEX</div>
        <div class="box info ne editable" action="inc_dec" id="{{a.type}}__{{a.id}}__DEX">{{a.attributes.DEX|colorize_val|safe}}</div>
        <div class="box label sw">INT</div>
        <div class="box info sw editable" action="inc_dec" id="{{a.type}}__{{a.id}}__INT">{{a.attributes.INT|colorize_val|safe}}</div>
        <div class="box label se">VOL</div>
        <div class="box info se editable" action="inc_dec" id="{{a.type}}__{{a.id}}__VOL">{{a.attributes.VOL|colorize_val|safe}}</div>
    </div>

    <div class="box label sub">Secondaires</div>
    <div class="box subset">
        <div class="box label nw">TIR</div>
        <div class="box info nw">{{a.misc.TIR|colorize_val|safe}}</div>
        <div class="box label ne">LAN</div>
        <div class="box info ne">{{a.misc.LAN|colorize_val|safe}}</div>
        <div class="box label sw">MEL</div>
        <div class="box info sw">{{a.misc.MEL|colorize_val|safe}}</div>
        <div class="box label se">DER</div>
        <div class="box info se">{{a.misc.DER|colorize_val|safe}}</div>
    </div>

    <div class="box label sub">A</div>
    <div class="box subset">
        <div class="box label nw">VIE</div>
        <div class="box info nw">{{a.misc.VIE}}</div>
        <div class="box label ne">Fatigue</div>
        <div class="box info ne">{{a.misc.FAT}} ({{a.misc.pf}})</div>
        <div class="box label sw">REVE</div>
        <div class="box info sw">{{a.misc.REV|colorize_val|safe}}</div>
        <div class="box label se">Indice</div>
        <div class="box info se">{{a.misc.indice}}</div>
    </div>
    <div class="box label sub">B</div>
    <div class="box subset">
        <div class="box label nw">+dom</div><div class="box info nw">{{a.misc.DOM|signed}}</div>
        <div class="box label ne">Sustentation</div><div class="box info ne">{{a.misc.SUS}}</div>
        <div class="box label sw">SC</div><div class="box info sw">{{a.misc.SCO}}</div>
        <div class="box label se">Encombrement</div><div class="box info se">{{a.misc.ENC}}</div>
    </div>

</div>

<div class="sheet skills martiales" id="ssm_{{a.id}}">
    <div class="box header">MARTIALES</div>
    {% for sk,v in a.skills.MARTIALES.items %}
        <div class="box label {{1|check_hidden}}">{{sk|as_skill|safe}}</div>
        <div class="box info {{1|check_hidden}} editable" action="inc_dec" id="{{a.type}}__{{a.id}}__{{sk}}">{{v}}</div>
    {% endfor %}
</div>


<div class="sheet skills generales" id="ssg_{{a.id}}">
    <div class="box header">GENERALES</div>
    {% for sk,v in a.skills.GENERALES.items %}
        <div class="box label {{1|check_hidden}}">{{sk|as_skill|safe}}</div>
        <div class="box info {{1|check_hidden}}">{{v}}</div>
    {% endfor %}
</div>

<div class="sheet skills particulieres" id="ssp_{{a.id}}">
    <div class="box header">PARTICULIERES</div>
    {% for sk,v in a.skills.PARTICULIERES.items %}
        <div class="box label {{1|check_hidden}}">{{sk|as_skill|safe}}</div>
        <div class="box info {{1|check_hidden}}">{{v}}</div>
    {% endfor %}
</div>

<div class="sheet skills specialisees" id="sss_{{a.id}}">
    <div class="box header">SPECIALISEES</div>
    {% for sk,v in a.skills.SPECIALISEES.items %}
        <div class="box label {{1|check_hidden}}">{{sk|as_skill|safe}}</div>
        <div class="box info {{1|check_hidden}}">{{v}}</div>
    {% endfor %}
</div>

<div class="sheet skills connaissances" id="ssc_{{a.id}}">
    <div class="box header">CONNAISSANCES</div>
    {% for sk,v in a.skills.CONNAISSANCES.items %}
        <div class="box label {{1|check_hidden}}">{{sk|as_skill|safe}}</div>
        <div class="box info {{1|check_hidden}}">{{v}}</div>
    {% endfor %}
</div>

<div class="sheet skills draconiques" id="ssd_{{a.id}}">
    <div class="box header">DRACONIQUES</div>
    {% for sk,v in a.skills.DRACONIQUES.items %}
        <div class="box label {{1|check_hidden}}">{{sk|as_skill|safe}}</div>
        <div class="box info {{1|check_hidden}}">{{v}}</div>
    {% endfor %}
</div>
