{% load static %}

<div class="middle">
    <fieldset class="middleblock options">
        <legend>Edition</legend>
        <textarea id="ed" placeholder="Astuce... ctrl+click sur un champ texte. Il apparaît ici. Editer puis valider."></textarea>
        <textarea id="target_ed"></textarea>
        <div id="echo" class="hidden"></div>
        <div class='btn option_btn' id="valuepush_editor"><i class="fas fa-circle-arrow-up"></i>&nbsp;Valider</div>
    </fieldset>
    <fieldset class="middleblock option_block">
        <legend>Références: Equipement</legend>
        {% for s in references.equipment %}
        <div class="ref_entry gear stackpush" param="{{s.rid}}">
            <div class="name">{{s.name}}</div>
            <div class="rid">{{s.rid}}</div>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset class="middleblock option_block">
        <legend>Références: Sortilèges</legend>
        {% for s in references.incantessimi %}
        <div class="ref_entry incantessimi stackpush" param="{{s.rid}}">
            <div class="name">{{s.name}}</div>
            <div class="rid">{{s.rid}}</div>
        </div>
        {% endfor %}
    </fieldset>
</div>
