{% load static %}
{% load dragonade_filters %}


{% if model == "Incantessimo" %}
    {% include "main/chiaroscuro/zlist_item_button.html" with txt="Voir" val="view" icon="fa fa-eye" %}
<div class="zlist_item symbol shifter" id="{{i.type}}__{{i.id}}__category">{{ i.category|as_category|safe }}</div>
<div class="zlist_item symbol shifter" id="{{i.type}}__{{i.id}}__path">{{ i.path|as_category|safe }}</div>
<div class="zlist_item number">{% include "main/svg/incantessimo_roll.svg" with value=i.roll %}</div>
{% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Puissance" val=i.power %}
{% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Mod. Puissance" val=i.power_boost %}
<div class="zlist_item label" style='order:0;'>{{i.name}}</div>
{% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Sort Prêt" val=i.spell_ready|as_okko|safe %}
{% include "main/chiaroscuro/zlist_item_editable_value.html" with prop="description" val=i.description %}
{% include "main/chiaroscuro/zlist_item_editable_value.html" with prop="composantes" val=i.composantes %}
{% include "main/chiaroscuro/zlist_item_editable_value_short.html" with txt="Coût Original RDD" prop="original_casting_cost" val=i.original_casting_cost %}
{% include "main/chiaroscuro/zlist_item_editable_value_short.html" with txt="Pentacle" prop="pentacle_code" val=i.pentacle_code %}
{% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Points de Rêve" val=i.dps %}
{% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Temps d'Incantation" val=i.ti_str %}
{% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Portée" val=i.range_str %}
{% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Zone d'Effet" val=i.area_str %}
{% include "main/chiaroscuro/zlist_item_editable_value_short.html" with txt="Difficulté" prop="diff" val=i.diff|as_diff|safe %}

<div class="zlist_item buffer"></div>

<div id="{{i.type}}__{{i.id}}__ground_charge" class="zlist_item symbol shifter">{{ i.ground_charge|as_ground_charge|safe }}</div>
<div id="{{i.type}}__{{i.id}}__hour_charge" class="zlist_item symbol shifter">{{ i.hour_charge|as_hour_charge|safe }}</div>
<div id="{{i.type}}__{{i.id}}__emanation_charge" class="zlist_item symbol shifter">{{ i.emanation_charge|as_emanation_charge|safe }}</div>
<div id="{{i.type}}__{{i.id}}__consistency_charge" class="zlist_item symbol shifter">{{ i.consistency_charge|as_consistency_charge|safe }}</div>
<div id="{{i.type}}__{{i.id}}__elemental_charge" class="zlist_item symbol shifter">{{ i.elemental_charge|as_elemental_charge|safe }}</div>
{% else %}
{% if model == "Nativo" %}
    {% include "main/chiaroscuro/zlist_item_button.html" with txt="Voir" val="view" icon="fa fa-eye" %}
    {% include "main/chiaroscuro/zlist_item_button.html" with txt="Editer" val="edit" icon="fa fa-cog" %}
    {% include "main/chiaroscuro/zlist_item_label_value.html" with txt="Titre" val=i.title %}
    {% include "main/chiaroscuro/zlist_item_label_value.html" with txt="Nom" val=i.name %}
    {% include "main/chiaroscuro/zlist_item_text_value.html" with txt="Rêve" val=i.sogni|as_sogni|safe %}
    {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="place" txt="Lieu" val=i.place %}
    {% include "main/chiaroscuro/zlist_item_editable_value.html" with prop="entrance" val=i.entrance %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Sexe" val=i.is_female|as_sex|safe %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Sans nom" val=i.nameless|as_okko|safe %}
    {% include "main/chiaroscuro/zlist_item_buffer.html" %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Total Attributs" val=i.total_attributes|signed %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Total Compétences" val=i.total_skills|signed %}
{% else %}
{% if i.type == "viaggiatore" %}
    {% include "main/chiaroscuro/zlist_item_button.html" with txt="Editer" val="edit" icon="fa fa-cog" %}
    {% include "main/chiaroscuro/zlist_item_label_value.html" with txt="Titre" val=i.title %}
    {% include "main/chiaroscuro/zlist_item_label_value.html" with txt="Nom" val=i.name %}
    {% include "main/chiaroscuro/zlist_item_text_value.html" with txt="Joueur" val=i.player %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Destinée" val=i.destiny|colorize_abs|safe %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Points de Voyage" val=i.travel_points %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Sexe" val=i.is_female|as_sex|safe %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Songe" val=i.SON %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Status Attributs" val=i.attributes_creation_ok|as_okko|safe %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Status Compétences" val=i.skills_creation_ok|as_okko|safe %}
    {% include "main/chiaroscuro/zlist_item_editable_value.html" with prop="entrance" val=i.entrance %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Total Attributs" val=i.total_attributes|signed %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Total Compétences" val=i.total_skills|signed %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Stress Acquis" val=i.stress_acquired|as_stress %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Stress Utilisé" val=i.stress_used %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Stress Restant" val=i.stress_remaining|as_stress %}
    {% include "main/chiaroscuro/zlist_item_buffer.html" %}
    {% include "main/chiaroscuro/zlist_item_text_value.html" with txt="Rêve" val=i.sogni|as_sogni|safe %}
    {% include "main/chiaroscuro/zlist_item_text_value.html" with txt="Bugs" val=i.bug_list %}
{% else %}
{% if model == "Creatura" %}
    {% include "main/chiaroscuro/zlist_item_button.html" with txt="Editer" val="edit" icon="fa fa-cog" %}
    {% include "main/chiaroscuro/zlist_item_label_value.html" with txt="Nom" val=i.name %}
    {% include "main/chiaroscuro/zlist_item_editable_value.html" with prop="creature_type" txt="Type de Créature" val=i.creature_type_str %}
    {% include "main/chiaroscuro/zlist_item_editable_value.html" with prop="Description" val=i.description %}
    {% include "main/chiaroscuro/zlist_item_buffer.html" %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Total Attributs" val=i.total_attributes|signed %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Total Compétences" val=i.total_skills|signed %}
{% else %}
{% if model == "Artefatto" %}
    {% include "main/chiaroscuro/zlist_item_button.html" with txt="Voir" val="view" icon="fa fa-eye" %}
    {% include "main/chiaroscuro/zlist_item_label_value.html" with txt="Nom" val=i.name %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Catégorie" val=i.category_str %}
    {%for s in i.all_scales %}
        {% include "main/chiaroscuro/zlist_item_shiftable_value.html" with txt=s|as_unique_scale_str|safe val=s|as_unique_scale|safe %}
    {%endfor%}

<div id="{{i.type}}__{{i.id}}__glance"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" >{{ i.glance|render_text|safe }}</div>
<div id="{{i.type}}__{{i.id}}__description"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" >{{ i.description|render_text|safe }}</div>
<div id="{{i.type}}__{{i.id}}__rules"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" >{{ i.rules|render_text|safe }}</div>
<div id="{{i.type}}__{{i.id}}__notes"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" >{{ i.notes|render_text|safe }}</div>
<div class="zlist_item buffer"></div>
<div class="zlist_item symbol" model="{{i.type}}" style="order:6" title="has bug">{{ i.has_bug|as_bool|safe }}</div>



{% else %}
{% if model == "Oggetto" %}
    {% include "main/chiaroscuro/zlist_item_button.html" with txt="Editer" val="edit" icon="fa fa-cog" %}
    {% include "main/chiaroscuro/zlist_item_label_value.html" with txt="Nom" val=i.name %}
    {% include "main/chiaroscuro/zlist_item_simple_value.html" with txt="Catégorie" val=i.category_text %}
    {% include "main/chiaroscuro/zlist_item_editable_value.html" with prop="description" val=i.description %}
    {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="enc" txt="Enc." val=i.enc %}
    {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="price" txt="Prix" val=i.real_price|as_money %}
    {% if i.category == 21%}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="mod_adjust" txt="Ajustement TAI +/-" val=i.real_mod_adjust %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="materiaux" txt="Matériaux" val=i.materiaux %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="malus_AGI" txt="AGI" val=i.malus_AGI %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="malus_DEX" txt="DEX" val=i.malus_DEX %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="malus_VUE" txt="VUE" val=i.malus_VUE %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="malus_OUI" txt="OUI" val=i.malus_OUI %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="protection" txt="Protection" val=i.prot %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="resistance" txt="Résistance" val=i.resistance %}
        {% include "main/chiaroscuro/zlist_item_editable_value_short.html" with prop="quality" txt="Qualité" val=i.quality|as_quality|safe %}
        {% include "main/chiaroscuro/zlist_item_simple_value.html" with prop="cover" txt="Couverture" val=i.cover|as_cover|safe %}
        {# include "main/chiaroscuro/zlist_item_editable_value.html" with prop="cover" txt="Couverture" val=i.cover|as_text_cover|safe #}
    {%endif%}
    {% include "main/chiaroscuro/zlist_item_buffer.html" %}
{% else %}
<div class="zlist_item">{{model}} n'est pas géré...</div>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
