{% load static %}
{% load dragonade_filters %}


{% if model == "Incantessimo" %}
<div class="zlist_item normal list_action" id="{{model|lower}}__{{i.id}}__view" title="view"><i class="fa fa-eye"></i></div>
<div class="zlist_item symbol shifter" id="{{model|lower}}__{{i.id}}__category">{{ i.category|as_category|safe }}</div>
<div class="zlist_item symbol shifter" id="{{model|lower}}__{{i.id}}__path">{{ i.path|as_category|safe }}</div>
<div class="zlist_item title">{{i.name}}</div>

<div id="{{model|lower}}__{{i.id}}__description__value" srcval="{{i.description|encoded_z|safe}}" class="zlist_item text editor">{{ i.description|render_text|safe }}</div>
<div id="{{model|lower}}__{{i.id}}__composantes__value" srcval="{{i.composantes|encoded_z|safe}}" class="zlist_item text editor">{{ i.composantes|render_text|safe }}</div>
<div id="{{model|lower}}__{{i.id}}__original_casting_cost__value" srcval="{{i.original_casting_cost|encoded_z|safe}}" class="zlist_item simple editor">{{ i.original_casting_cost|render_text|safe }}</div>

<div class="zlist_item buffer"></div>
<div class="zlist_item simple"><b>Points<br/>Rêve</b><br/>{{ i.dps }}</div>
<div class="zlist_item simple"><b>Temps<br/>d'Incant.</b><br/>{{ i.ti_str }}</div>
<div class="zlist_item simple"><b>Portée</b><br/>{{ i.range_str }}</div>
<div class="zlist_item simple"><b>Zone</b><br/>{{ i.area_str }}</div>
<div class="zlist_item simple"><b>Puis.</b><br/>{{i.power}}</div>
<div class="zlist_item simple"><b>+P</b><br/>{{i.power_boost}}</div>

<div id="{{model|lower}}__{{i.id}}__ground_charge" class="zlist_item symbol shifter">{{ i.ground_charge|as_ground_charge|safe }}</div>
<div id="{{model|lower}}__{{i.id}}__hour_charge" class="zlist_item symbol shifter">{{ i.hour_charge|as_hour_charge|safe }}</div>
<div id="{{model|lower}}__{{i.id}}__emanation_charge" class="zlist_item symbol shifter">{{ i.emanation_charge|as_emanation_charge|safe }}</div>
<div id="{{model|lower}}__{{i.id}}__consistency_charge" class="zlist_item symbol shifter">{{ i.consistency_charge|as_consistency_charge|safe }}</div>
<div id="{{model|lower}}__{{i.id}}__elemental_charge" class="zlist_item symbol shifter">{{ i.elemental_charge|as_elemental_charge|safe }}</div>

<div id="{{model|lower}}__{{i.id}}__diff"  class="zlist_item number shifter" title="{{i.diff}}">{%include "main/svg/diff.svg" with diff=i.diff %}</div>
<div class="zlist_item number">{% include "main/svg/incantessimo_roll.svg" with value=i.roll %}</div>
<div class="zlist_item number">{{ i.spell_ready|as_bool|safe }}</div>

{% else %}
{% if model == "Nativo" %}
<div model="{{model|lower}}" class="zlist_item number" style="order:-1;" >{{i.id}}</div>
<div id="{{i.id}}__view" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="view"><i class="fa fa-eye"></i></div>
<div id="{{i.id}}__edit" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="edit"><i class="fa fa-cog"></i></div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{% if i.misc.title %}{{i.misc.title}}&nbsp;{%endif%}{{ i.name }}{% if i.features.AKA %}<br/>&laquo; {{i.features.AKA}} &raquo;{%endif%}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:3">{{i.sogni}}</div>

<div id="{{i.id}}__entrance"  srcval="{{i.entrance|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.misc.ENTRANCE|render_text|safe }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="is female">{{ i.is_female|as_bool|safe }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="nameless">{{ i.nameless|as_bool|safe }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="has bug">{{ i.has_bug|as_bool|safe }}</div>

<div class="zlist_item number" model="{{model|lower}}" style="order:10">ATR.<br/>{{ i.misc.total_attributes }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:10">CMP.<br/>{{ i.misc.total_skills }}</div>

{% else %}
{% if model == "Viaggiatore" %}
<div model="{{model|lower}}" class="zlist_item number" style="order:-1;" >{{i.id}}</div>
<div id="{{i.id}}__view" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="view"><i class="fa fa-eye"></i></div>
<div id="{{i.id}}__edit" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="edit"><i class="fa fa-cog"></i></div>


<div class="zlist_item label" model="{{model|lower}}" style="order:0">{{ i.name }}{% if i.title %}<br/>({{i.title}}){%endif%}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:1">{{i.player}}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:2">{{i.aka}}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:3">{{i.sogni}}</div>
<div id="{{i.id}}__entrance"  srcval="{{i.entrance|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.entrance|render_text|safe }}</div>

<div class="zlist_item number" model="{{model|lower}}" style="order:4">DEST.<br/>{{ i.destiny }}</div>


<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="is female">{{ i.is_female|as_bool|safe }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="Skills status">Skill<br/>{{ i.skills_creation_ok|as_okko|safe }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="Attr. status">Attr<br/>{{ i.attributes_creation_ok|as_okko|safe }}</div>

<div class="zlist_item number" model="{{model|lower}}" style="order:10">ATR.<br/>{{ i.total_attributes }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:10">CMP.<br/>{{ i.total_skills }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:10">$A<br/>{{ i.stress_acquired }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:10">$U<br/>{{ i.stress_used }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:10">$R<br/>{{ i.stress_remaining }}</div>
<div class="zlist_item text" model="{{model|lower}}" style="order:11; text-align:left;">{{ i.bug_list }}</div>

{% else %}
{% if model == "Creatura" %}
<div model="{{model|lower}}" class="zlist_item number" style="order:-1;" >{{i.id}}</div>
<div id="{{i.id}}__view" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="view"><i class="fa fa-eye"></i></div>
<div id="{{i.id}}__edit" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="edit"><i class="fa fa-cog"></i></div>
<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="has bug">{{ i.has_bug|as_bool|safe }}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{{ i.name }}{% if i.AKA %}<br/>&laquo; {{i.AKA}} &raquo;{%endif%}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{{ i.creature_type_str }}</div>

<div id="{{i.id}}__description"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.misc.DESCRIPTION|render_text|safe }}</div>


<div class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.bug_list|render_text|safe }}</div>

<div class="zlist_item number" model="{{model|lower}}" style="order:10">ATR.<br/>{{ i.total_attributes }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:10">CMP.<br/>{{ i.total_skills }}</div>

{% else %}
{% if model == "Artefatto" %}
<div model="{{model|lower}}" class="zlist_item number" style="order:-1;" >{{i.id}}</div>
<div id="{{i.id}}__view" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="view"><i class="fa fa-eye"></i></div>
<div id="{{i.id}}__edit" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="edit"><i class="fa fa-cog"></i></div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{{ i.category }}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{% if i.misc.title %}{{i.misc.title}}&nbsp;{%endif%}{{ i.name }}{% if i.features.AKA %}<br/>&laquo; {{i.features.AKA}} &raquo;{%endif%}</div>

<div id="{{i.id}}__glance"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.glance|render_text|safe }}</div>
<div id="{{i.id}}__description"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.description|render_text|safe }}</div>
<div id="{{i.id}}__rules"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.rules|render_text|safe }}</div>
<div id="{{i.id}}__notes"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.notes|render_text|safe }}</div>

<div class="zlist_item symbol" model="{{model|lower}}" style="order:6" title="has bug">{{ i.has_bug|as_bool|safe }}</div>



{% else %}
{% if model == "Oggetto" %}
<div model="{{model|lower}}" class="zlist_item number" style="order:-1;" >{{i.id}}</div>
<div id="{{i.id}}__view" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="view"><i class="fa fa-eye"></i></div>
<div id="{{i.id}}__edit" model="{{model|lower}}" class="zlist_item normal list_action" style="order:0; text-align:left;" title="edit"><i class="fa fa-cog"></i></div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{{ i.category_text }}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{% if i.misc.title %}{{i.misc.title}}&nbsp;{%endif%}{{ i.name }}{% if i.features.AKA %}<br/>&laquo; {{i.features.AKA}} &raquo;{%endif%}</div>
{% if i.category == 21%}
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{{ i.materiaux }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:0">PROT.<br/>{{ i.prot }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:0">RES.<br/>{{ i.resistance }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:0">QUAL.<br/>{{ i.quality }}</div>
<div class="zlist_item symbol" model="{{model|lower}}" style="order:0">{{ i.cover|as_cover|safe }}</div>
<div class="zlist_item label" model="{{model|lower}}" style="order:0">{{ i.cover|as_text_cover|safe }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:0">AGI<br/>{{ i.malus_AGI }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:0">DEX<br/>{{ i.malus_DEX }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:0">VUE<br/>{{ i.malus_VUE }}</div>
<div class="zlist_item number" model="{{model|lower}}" style="order:0">OUI.<br/>{{ i.malus_OUI }}</div>
{%endif%}
<div id="{{i.id}}__description"  srcval="{{i.description|encoded_z|safe}}" action="value"  class="zlist_item text editor" model="{{model|lower}}" style="order:3; text-align:left;">{{ i.description|render_text|safe }}</div>

<div class="zlist_item number" model="{{model|lower}}" style="order:6" title="has bug">{{ i.has_bug|as_bool|safe }}</div>



{% else %}
<div class="zlist_item">{{model}} n'est pas géré...</div>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}
