@charset "UTF-8";

$palette0: #101010; // Text
$palette1: #2532377F; // Background
$palette10: #253237; // Background
$palette2: desaturate($palette1,25%); // Panel
$palette3: #a69cac; // Panel text
$palette4: lighten($palette1,75%); // Paper
$palette5: complement(lighten($palette1,20%)); // Highlight


$body_color: $palette4;
$body_background: $palette1;


// Main colors
$theme1: #B19470;
$shadow_color: darken($theme1,10%);


@mixin body_background{
    background: $body_background;
    color: $body_color;
    font-family:Wellfleet;
}



$panel_background: $theme1;
$button_background: saturate($theme1,75%);
$button_background2: darken($theme1,15%);
$highlight_background: saturate($theme1,75%);

/*
$panel_complement: complement($body_background);
$panel_text: complement($body_color);

$panel_shadow: lighten($panel_background, 50%);
$panel_plank_background: darken($panel_background, 5%);
$panel_shard_background: darken($panel_background, 15%);
$panel_smooth_background: grayscale($panel_background);
$panel_day_background: darken($panel_background,25%);
$panel_week_background: darken($panel_background, 5%);
*/


$hour_pixel: 42;

$env_text: black;

$font_height: 8pt;
$roster_font_height: 10pt;

//$plate_color: lighten($panel_color,10%);

$bkg_filter0:$theme1;
$bkg_filter1:#B19470;
$bkg_filter2:#EBC49F;

$bkg0:$bkg_filter0;
$bkg1:$bkg_filter1;
$bkg2:$bkg_filter2;

$active_box: $theme1;
$standard_box: darken($active_box,30%);
$sub_box: complement($standard_box);

@mixin btn_look{
    background: darken($theme1,10%);
    border-radius:3px;
    border:1px solid lighten($theme1,20%);
    color: darken($theme1,40%);
    font-family: Neucha;
    width:90ex;
    display:inline-block;
}

.btn{
    @include btn_look
}


@mixin dragonade_panel{
    margin: 0;
    padding:2px;
    border:2px solid $palette2;
    border-radius:5px;
    background: $palette2;
    box-shadow: 0 0 3px $palette3;
    color:$palette4;
    font-family: Neucha;
    & legend{
        color:$palette4;
        text-shadow: 0 0 10px $palette0;
    }
}

.coded{
    font-family: Wellfleet;
    font-size:8pt;
}

.p1{background:$palette1;color:$palette0}
.p2{background:$palette2;color:$palette0}
.p3{background:$palette3;color:$palette0}
.p4{background:$palette4;color:$palette0}
.p5{background:$palette5;color:$palette0}