


.roster{
    &.viaggiatore{
        background:#102030aF;
    }
    &.nativo{
        background:#103020aF;
    }
    &.creatura{
        background:#301020aF;
    }

    margin-left:15vw;
    margin-top:1vh;
    height:90vh;
    width:50vw;
//     overflow-y:scroll;
    border:3pt solid black;
    border-radius:5pt;
    padding:5pt;
    font-size:12pt;
    font-family:$font;

    & .tabnav{
        background:transparent;
        width:auto;
        display:flex;
        flex-flow: row wrap;
        justify-content: stretch;
        align-content: flex-start;
        align-items: flex-start;
        gap: 2pt;



        & .tabbutton{
            flex: 1 1 auto;
            font-size:1.2em;
            font-family:$font;
            text-align:center;
            padding:3pt;
            border-radius:5pt;
            border:3pt solid transparent;
            color:white;
            background:transparent;
            &:hover{
                background:#1010107f;
                color:yellow;
            }
            cursor:pointer;
            &.on{
                background:#3030303f;

            }
        }
    }

    & .top{
        & .row{
            font-size:14pt;
            color:white;
            & .whole{
              font-family: $font_title;

              &.name{
                font-size:32pt;
                font-weight:bold;
              }
            }
       }
    }


    & .tabpanel{
        //background:#A02020;
        background:transparent;
        width:100%;
        height:1100px;
        display:flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        gap: 2pt;


    & .classy{
        font-family: $font_title;
    }

    & .pretty{
        font-family: $font_title;
    }

    & .tri{
        font-size:14pt;
        display:flex;
        flex-flow:column nowrap;
        justify-content: flex-start;
        align-items: space-between;
//         align-content: stretch;
        padding:8pt;
        gap: 3pt;
        background:#3030303f;
//         border:1pt solid orange;
        height:auto;
        width:calc(100%-16pt);
        overflow-y:scroll;
        &.full{
            width:96%;
            margin: 0 16pt;
        }
        & .row{
            flex: 1 1 auto;
            display:flex;
            flex-flow:row nowrap;
            border: 1pt solid transparent;
            gap: 8pt;
            color:white;
            height:auto;
//             width:auto;
            &.lax{
                flex-flow:row wrap;
                width:97%;
//                 border:2pt solid red;
            }
            &.lox{
                flex-flow:column wrap;
//                 border:2pt solid red;

            }
            justify-content: space-around;
            align-items: flex-start;



            & .whole{
                font-family: $font_title;
                &.large{
                    flex: 0 0 99%;
                }
                &.name{
                    font-size:2em;
                }
            }

            & .block_third{
                flex: 0 0 31%;
                border:1pt solid transparent;
                &.fat{
                    flex: 0 0 48%;
                }
                &.segregate{
                    border:1pt solid #1010107f;
                }
                flex-flow:row wrap;
                display:flex;
                justify-content: flex-start;
                align-items: center;
                align-content: flex-start;
                gap: 3pt;

                &.raw{
                    order:0;
                    flex: 1 1 99%;
                    padding:8pt;;
                    border-radius:2pt;
//                     background:#5050507f;
                    border-radius:8pt;
                    border:1pt solid #8080807f;
                }

                & .title{
                    order:0;
                    flex: 0 0 100%;
                    padding:0;
                    font-size:14pt;
                    font-weight:bold;
                    border-radius:2pt;
                    font-family:$font_title;
                }
                & .stat{
                    order:1;
                    flex: 0 0 100%;
                    display:flex;
                    flex-flow:row nowrap;
                    justify-content: flex-start;
                    align-items: stretch;

                    gap: 1pt;

                    & .label{
                        order:1;
                        flex: 1 0 auto;
                        background:$palette1;
                        border-radius:2pt;
                        padding:3pt;

                        &.fixed{
                            flex: 0 0 12ex;
                        }

                        &.short{
                            flex: 0 1 auto;
                        }

                        &.lazy{
                            flex: 1 1 auto;
                        }

                    }
                    & .data{
                        order:2;
                        flex: 0 0 8ex;
                        background:$palette0;
                        padding:3pt;
                        font-size:14pt;
                        font-weight:bold;
                        border-radius:2pt;
                        text-align:center;
                        &.text{
                            flex: 1 0 auto;
                            font-weight:normal;
                            text-align:left;
                            font-size:13pt;
                        }
                        &.large{
                            flex: 5 0 98%;
                            font-weight:normal;
                            text-align:left;
                            font-size:13pt;
                            min-height:8em;
                        }
                        &.auto{
                            flex: 1 0 20ex;
                            font-weight:normal;
                            text-align:left;
                            color:silver;
                            max-height:8em;
                            overflow-y:auto;
                        }
                        &.lazy{
                            background:none;
                            flex: 0 0 14ex;
                            & .btn_edit{
                                display:inline-block;
                                width:2ex;
                                background:transparent;
                                &.value{
                                    width:4ex;
                                    border-radius:3pt;
                                    background:#101010;
                                }

                                border:1px solid transparent;
                                padding: 0;
                            }
                        }
                        &.mono{
                            font-family:$mono;
                            color:silver;
                            font-size:11pt;
                            text-align:left;
                            border-radius:8pt;
                            background:#1010107f;
                        }
                        &.interactive_element{
                            cursor:crosshair;
                            border:1pt dotted $hlco;
                            &.selected{
                                border:1pt solid $hlco;
                                background: $hlbg;
                            }
                        }
                    }
                }

            }
        }


       & .summary{
            display:block;
            color:white;
            background:#101010;
            font-family:$mono;
            font-size:1em;
            width:auto;
            margin-right:100%;
            padding:5pt;
            min-height:50em;
            margin:5pt auto;
            overflow:auto;
            border:1pt solid white;
            border-radius:5pt;
       }


    }


     }

}


.gearit{
    @include btn_look;
    width:auto;
    margin:3pt;
}

.editor{
    min-height:16pt;
    min-width:16pt;
    color:silver;
    background:#101010;
    border-radius:5pt;
    padding:3pt;
    font-weight:normal;
    font-size: 12pt;
}

// .btn_edit.value{
//     border-bottom:1pt solid darkcyan;
//     background:#303050;
//     border-radius:3pt;
//     padding:0;
// }

