.container{
    border:1px solid transparent;
    border-radius:5px;
    background:transparent;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: space-between;
    align-content: stretch;
    gap: 5px;

    .roster{
        font-family:Neucha;
        border:1px solid #303030;
        border-radius:5px;
        margin:10px;
        padding:5px;
        background:#102030;
        display:flex;
        flex-flow: column wrap;
        flex:0 1 300px;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        gap: 1px;

        & .roster_line{
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1px;
            & .label{
                display:block;
                background:#202020;
                color:#C0C0C0;
                order:1;
                flex: 0 4 4rem;
                margin:0;
                padding:0;
            }
            & .lazy{
                display:block;
                background:#202020;
                color:#C0C0C0;
                order:3;
                flex: 1 1 1rem;
                margin:0;
                padding:0;
            }

            & .info{
                display:block;
                background:#505050;
                color:#F0F0F0;
                order:2;
                flex: 3 0 4rem;
                margin:0;
                padding:0;
            }
        }
        & .roster_pack{
            display:flex;
            margin:0;
            padding:0;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: stretch;
            align-content: stretch;
            flex: 0 1 auto;
            //height:20px;
            gap:2px;
            & .roster_block{
                border-radius:3px;
                display:flex;
                margin:0;
                padding:0;
                flex-flow: column wrap;
                justify-content: flex-start;
                align-items: stretch;
                align-content: stretch;
                border:1px solid #303030;
                flex: 1 1 auto;
                & .roster_row{
                    display:flex;
                    margin:0;
                    padding:0;
                    flex-flow: line wrap;
                    justify-content: flex-start;
                    align-items: space-between;
                    align-content: stretch;
                    border:1px solid #606060;
                    flex: 1 0 20px;
                    background:yellow;
                    & .label{
                        display:block;
                        background:#202020;
                        color:#C0C0C0;
                        order:1;
                        flex: 1 1 2rem;
                        margin:0;
                        padding:0;
                    }
                    & .info{
                        display:block;
                        background:#505050;
                        color:#F0F0F0;
                        order:2;
                        flex: 1 2rem;
                        margin:0;
                        padding:0;
                    }
                }
            }
        }

    }


    .sheet {
        display: grid;
        font-family:Neucha;
        font-size:10pt;
        border:1px solid #707070;
        border-radius:5px;
        box-shadow: 0 0 16px #C0C0C0;
        background:#102030;
        margin:10px;
        padding:5px;
        gap: 2px;
        grid-template-columns: [a] 75px [b] 75px [c] 75px [d] 75px [e] 75px [f] 75px [g] 75px [h] 75px;
        grid-template-rows: repeat(16,1.5em);
        & .box {
            border-radius: 1px;
            padding: 1px;
        }
    }


    .label {
        background-color: #404040;
        grid-column: a / span 4;
        &.sub{
            grid-row: span 2;
            align-self:stretch;
            vertical-align:middle;
        }
        &.nw{
            grid-column: e / span 1;
        }
        &.ne{
            grid-column: g / span 1;
        }
        &.sw{
            grid-column: e / span 1;
        }
        &.se{
            grid-column: g / span 1;
        }
    }

    .info {
        background-color: #606060;
        color: #F0F0F0;
        grid-column: e / span 4 ;
        &.nw{
            grid-column: f / span 1;
        }
        &.ne{
            grid-column: h / span 1;
        }
        &.sw{
            grid-column: f / span 1;
        }
        &.se{
            grid-column: h / span 1;
        }
        &.editable{
            border:2px ridge orangered;
            background:black;
        }
    }



    .subset{
        border:1px solid #404040;
        gap: 1px;
        padding:0;
        grid-column: e / span 4;
        grid-row: span 2;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

}