
.zlist_container, .zlist_header, .zlist_footer{
    width:96vw;
    margin:5pt;
    display:flex;
    flex-flow:column nowrap;
    font-family:$font;
    font-size:10pt;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    gap:3pt;
    background:none;

    & .zlist_entry{
        flex:0 1 auto;
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
        gap:3pt;
        width:auto;
        &.even{
            background:#1020207f;
        }
        &.odd{
            background:#2010207f;
        }

        & .zlist_item{
            padding:3pt;
            border-radius:3pt;
            flex:0 1 auto;
            display:inline-block;
            color:white;
            vertical-align:middle;
            text-align:center;
            font-family:$font;
            background:#4040407f;
            &.title{
                font-weight:bold;
                width:20ex;
                text-align:left;
                font-family:$font_title;
                font-size:1.8em;
                padding:5pt;
            }
            &.text{
                width:40ex;
                height:auto;
                bottom:2px;
                padding:3pt;
                font-size:1.1em;
                overflow-y:scroll;
            }
            &.label{
                font-family:$font_title;
                width:20ex;
                font-size:1.4em;
            }
            &.symbol{
                background:#9080907f;
            }
            &.simple{
                width:15ex;
            }

            &.normal{
                font-size:2em;
                cursor:pointer;
            }

            &.filter{
                width:24ex;
                font-size:1.5em;
                cursor:pointer;
                &:hover{
                    background:$hlbg;
                    color:$hlco;
                }
                border:none;
            }
            &.boolean{
                width:2ex;
                border:none;
            }
            &.number{
                font-size:1.5em;
                width:4ex;
            }
            border:2pt solid #202020;
            border-radius: 5pt;
        }
    }
}

.zlist_container{
    height:81vh;
    overflow-y:scroll;
}

.zlist_footer{
    flex-flow:row wrap;
    height:3vh;
    background:#3030307f;
    & .zlist_entry{
        background:#3030307f;
        }
    background:#3030307f;
}

.zlist_header{
    flex-flow:row wrap;
    height:7vh;
    width:auto;
    font-size:0.73em;
    justify-content:flex-start;
    align-content: flex-start;
    align-items: flex-start;
    & .zlist_entry{
        flex:0 6 20ex;
        border-radius:5pt;
        display:inline-block;
        font-weight:normal;
        background:#3030307f;

    }
}

