$list_font_size: 10pt;
$title_font_size: 16pt;
$mid_font_size: 12pt;



.zlist_container, .zlist_header, .zlist_footer{
    width:96vw;
    margin:2pt;
    font-family:$font;
    font-height:$list_font_size;
    background:transparent;
    height:auto;

    & .zlist_entry{
        flex:1 1 auto;
        display:flex;
        flex-flow:row nowrap;
        justify-content: stretch;
        align-items: stretch;
        align-content: stretch;
//         border:1pt solid pink;
        gap:1pt;
//         width:auto;
        &.even{
            background:#2020207f;
        }
        &.odd{
            background:#6060607f;
        }

        &.buffer{
            flex:10 10 auto;
            min-height: 20em;
            background:#4040407f;
            background-image: repeating-linear-gradient(45deg, #1010107f 0pt, #1010107f 3pt, transparent 1pt, transparent 12pt),
                    repeating-linear-gradient(135deg, #1010107f 0pt, #1010107f 3pt, transparent 1pt, transparent 12pt);
        }

        & .zlist_item{
            padding:3pt;
            border-radius:3pt;
            flex:0 1 auto;
            color:white;
            vertical-align:middle;
            text-align:center;
            font-family:$font;
            background:#4040407f;
            &.title{
                flex: 5 5 auto;
                font-family:$font_title;
                font-size:18pt;
            }
            &.buffer{
                flex: 5 5 auto;
            }
            &.text{
                width:40ex;
                max-height:8em;
                padding:3pt;

                overflow-y:scroll;
                text-align:left;
                color:silver;
            }
            &.label{
                width:20ex;
                font-size:$title_font_size;
            }
            &.symbol{
                background:#9080907f;
            }
            &.simple{
                display:flex;

                flex-flow: column wrap;
                justify-content:space-between;
                align-items:stretch;
                align-content:stretch;
                color:silver;
                width:10ex;
                & .txt{
                    flex:1 0 1.2em;
                    font-size:$mid_font_size;
                    color:white;
                    background:#202020;

                    border-radius:3pt;
                    padding:3pt;
                }
                & .val{
                    flex: 1 1 auto;
                    font-size:$title_font_size;
                    color:silver;
                    background:#101010;

                    padding:3pt;
                }
            }

            &.icon{
                font-size:2em;
                cursor:pointer;
            }


            &.normal{
                font-size:$title_font_size;
                cursor:pointer;
            }

            &.filter{
                width:24ex;
                font-size:1.5em;
                cursor:pointer;
                &:hover{
                    background:$hlbg;
                    color:$hlco;
                }
                border:none;
            }
            &.boolean{
                width:2ex;
                border:none;
            }
            &.number{
                font-height:$title_font_size;
                width:4ex;
            }
            border:2pt solid #202020;
            border-radius: 5pt;
        }
    }
}



.zlist_header{
    order:1;
    flex:0 1 4vh;
    flex-flow:row wrap;
    font-size:0.73em;
    justify-content:flex-start;
    align-items: flex-start;
    align-content: flex-start;
    background:#5050507f;


    & .zlist_entry{
        flex:0 0 20ex;
        border-radius:5pt;
        display:inline-block;
        font-weight:normal;
//         background:#3030307f;

    }
}

.zlist_container{
    order:2;
    flex:0 0 84vh;
    overflow-y:scroll;
    display:flex;
    flex-flow:column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap:3pt;
    background:#1010107f;
}

.zlist_footer{
    order:3;
    flex:0 1 auto;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    height:3vh;
    background:#5050507f;
    & .zlist_entry{
        display:flex;
        flex-flow:row wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-start;
//         background:#3030307f;
        }

}

.diff_{color:gray;}
.diff_5{ color:#20A060;}
.diff_10{color:#408060;}
.diff_15{color:#606060;}
.diff_20{color:#804060;}
.diff_25{color:#A02060;}