.zmenu{
    font-family:$font;
    font-size:$font_height*1.4;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background:transparent;
    z-index:500000;

    &::after{
        content: '';
        clear: both;
        display: block;
    }

    & li{
        position: relative;

        & span.label{
            @include btn_look
        }
    }



    & > li{
        float: left;
    }

    padding: 0;
    margin: 0;
    list-style-type: none;

    & ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
        box-shadow: 0 0 20pt #0000007f; //rgba(0,0,0, 0.5);
    }

    & ul li+li{
        border-top: 1px solid #5050507f;
    }

    & > li ul, & ul ul{
        opacity: 0;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        z-index: -1;
        visibility: hidden;
    }

    & > li ul{
        top: 130%;
        left: 0;
    }

    & ul ul{
        left: 130%;
        top: 0;
    }

    & ul span.label{
        width: 16ex;
    }

    & > li:hover > ul{
        top: 100%;
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    & ul > li:hover > ul{
        left: 100%;
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

}











